<div class="container-fluid">
  <h5>Hypothesis</h5>
  <div class="row">
    <div class="col-sm-1"></div>
    <div>
      <p>
        Power and sample size calculations are typically based on the primary study hypothesis. The options below show the hypotheses which are available for the current study design. Specify the hypothesis which most closely resembles your primary study hypothesis. <br /><br />

        To specify a hypothesis, select the type of hypothesis from the check list. For more information about the type of hypothesis, click the "question mark icon."
        <i (click)="showOrCloseInfo()" class="material-icons"> contact_support </i>
      </p>
    </div>
    <div *ngIf="showInfo">
      <p>
        GLIMMPSE supports the following hypothesis types, for between-participant factors, within-participant factors, and interactions between them. <br /><br />
      </p>
      <h5>Grand Mean Hypothesis</h5>
      <p>
        Tests of the grand mean compare the overall mean response in a sample of participants against a known value. For example, an investigator may wish to determine if body mass index values for participants in a particular state differs from the United States national average. <br /><br />
        If a study design includes fixed predictors or repeated measures, the grand mean hypothesis will average across all factors. <br /><br />
      </p>
      <h5>Main Effect Hypothesis</h5>
      <p>
        Main effect hypotheses test for the effect of a single factor averaged across all other factors. For example, testing if responses of participants in an active drug group differ on average from participant responses in a placebo group is a common main effect hypothesis for a between-participant factor. <br /><br />
      </p>
      <h5>MANOVA Hypothesis</h5>
      <p>
        A MANOVA hypothesis combines the Grand Mean hypothesis and the "all nonconstant polynomial" trend hypothesis. GLIMMPSE supports MANOVA hypotheses for only one fixed predictor, and only for study designs including no repeated measures. <br /><br />
      </p>
      <h5>Trend Hypothesis</h5>
      <p>
        Trend hypotheses test if the effect of a single factor follows a particular polynomial pattern, such as a linear or quadratic trend, across different levels of the factor. Trend hypotheses are often of interest for repeated measures. <br /><br />
      </p>
      <h5>Interaction Hypothesis</h5>
      <p>
        Interaction hypotheses test if the effect of one factor changes depending on the value of one or more additional factors. An interaction test also can be interpreted as a test of differences of differences, as well as a test of parallel trajectories of response. <br /><br />
        For example, testing if the effect of a cholesterol lowering medication on total serum cholesterol differs depending on the participant's gender is an example of an interaction hypothesis.
      </p>
    </div>
    <div class="col-sm-6"><h6>Effects Available for Consideration</h6></div>
    <div class="col-sm-5"><h6>Nature of Variation</h6></div>
  </div>
  <div *ngFor="let effect of possibleEffects; let i = index" class="row" [ngStyle]="{'background-color': rowStyle(i)}">
      <div class="col-sm-1">
        <div class="form-check" style="margin-bottom: 1px">
          <label class="form-check-label" id="{{effect.name}}">
            <input type="radio" (click)="selectEffect(effect)" class="form-check-input" [checked]="isSelected(effect)">
          </label>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="isGrandMean(effect)">{{effect.type}}</div>
    <div class="col-sm-6" *ngIf="!isGrandMean(effect)">{{effect.name}}: {{effect.type}}</div>
      <div class="col-sm-5">{{effect.nature}}</div>
  </div>
</div>
