<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>
        Each power or sample size calculation is based on selecting a specific study hypothesis.
        The options below show the hypotheses which are available for the current study design.
        Specify the hypothesis that represents your scientific question. <br /><br />

        Select your hypothesis from the list.
        For more information about the possible types of hypotheses, click the “question mark icon."
      <i (click)="showOrCloseInfo()" class="material-icons"> contact_support </i>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngIf="showInfo">
        <h5>Grand Mean Hypothesis</h5>
        <p>
          Tests of the grand mean compare the overall mean response in a sample of participants against a known value. For example, an investigator may wish to determine if body mass index values for participants in a particular state differs from the United States national average. <br /><br />
          If a study design includes fixed predictors or repeated measures, the grand mean hypothesis will average across all factors. <br /><br />
        </p>
        <h5>Main Effect Hypothesis</h5>
        <p>
          Main effect hypotheses test for the effect of a single factor averaged across all other factors. For example, testing if responses of participants in an active drug group differ on average from participant responses in a placebo group is a common main effect hypothesis for a between-participant factor. <br /><br />
        </p>
        <h5>MANOVA Hypothesis</h5>
        <p>
          A MANOVA hypothesis combines the Grand Mean hypothesis and the "all nonconstant polynomial" trend hypothesis. GLIMMPSE supports MANOVA hypotheses for only one fixed predictor, and only for study designs including no repeated measures. <br /><br />
        </p>
        <h5>Trend Hypothesis</h5>
        <p>
          Trend hypotheses test if the effect of a single factor follows a particular polynomial pattern, such as a linear or quadratic trend, across different levels of the factor. Trend hypotheses are often of interest for repeated measures. <br /><br />
        </p>
        <h5>Interaction Hypothesis</h5>
        <p>
          Interaction hypotheses test if the effect of one factor changes depending on the value of one or more additional factors. An interaction test also can be interpreted as a test of differences of differences, as well as a test of parallel trajectories of response. <br /><br />
          For example, testing if the effect of a cholesterol lowering medication on total serum cholesterol differs depending on the participant's gender is an example of an interaction hypothesis.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
      <th class="col-md-auto">
      </th>
      <th class="col-md-auto">
        <h6>Effects Available for Consideration</h6>
      </th>
      <th class="col-md-auto">
        <h6>Nature of Variation</h6>
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let effect of possibleEffects; let i = index"
          [ngStyle]="{'background-color': rowStyle(i)}">
        <td class="col-md-auto" >
          <div class="form-check" style="margin-bottom: 1px">
            <label class="form-check-label" id="{{effect.name}}">
              <input type="radio" (click)="selectEffect(effect)" class="form-check-input input-sm" [checked]="isSelected(effect)">
            </label>
          </div>
        </td>
        <td class="col-md-auto" *ngIf="isGrandMean(effect)">{{effect.type}}</td>
        <td class="col-md-auto" *ngIf="!isGrandMean(effect)">{{effect.name}}: {{effect.type}}</td>
        <td class="col-md-autol">{{effect.nature}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="btn-group-sm" data-toggle="buttons">
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="isHypothesisBeta"
             id="hypothesisbetabtn">
        <input type="radio" id="hypothesisbetaradio" (click)="selectHypothesisBeta()"> Hypothesis Beta
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="isFullBeta"
             id="fullbetabtn">
        <input type="radio" id="fullbetaradio" (click)="selectFullBeta()"> Full beta
      </label>
    </div>
  </div>
</div>
