<form [formGroup]="withinISUForm">
  <h5>Do you have more than one outcome?</h5>
  <div class="btn-group" data-toggle="buttons">
    <label aria-pressed="true" class="btn btn-primary" [class.active]="multipleOutcomes" id="guidedbtn">
      <input type="radio" id="GUIDED" (click)="selectMultipleOutcomes()"> Yes
    </label>
    <label class="btn btn-primary" aria-pressed="true" [class.active]="!multipleOutcomes" id="flexbtn">
      <input type="radio" id="FLEXIBLE" (click)="selectSingleOutcome()"> No
    </label>
  </div>
  <div *ngIf="!multipleOutcomes">
    <div class="form-group" id="singleoutcomeinput">
      <label for="singleoutcome">Name your outcome:</label>
      <input type="string" class="form-control" id="singleoutcome" aria-describedby="singleoutcomehelp" placeholder="You must enter an outcome variable name..." formControlName="singleoutcome" required>
      <div *ngIf="formErrors.singleoutcomeerror" class="alert alert-danger">
        <div class="form-control-feedback">{{formErrors.singleoutcomeerror}}</div>
      </div>
      <small id="singleoutcomehelp" class="form-text text-muted">Outcome variable name must not contain any special characters</small>
    </div>
  </div>
  <div *ngIf="multipleOutcomes" id="multioutcomeinput">
    <div *ngIf="!editing()">
      <h6>Tell us more about this outcome:</h6>
      <div class="row">
        <div class="col">
          <button (click)="addRepeatedMeasure()" type="button" class="btn btn-primary">+ Repeated Measure</button>
        </div>
        <div class="col">
          <button (click)="addDifferentMeasure()" type="button" class="btn btn-primary">+ Different Measures</button>
        </div>
        <div class="col">
          <button (click)="addCluster()" type="button" class="btn btn-primary">+ Cluster</button>
        </div>
      </div>
    </div>
    <div *ngIf="editingRepeatedMeasure" >
        <app-repeated-measure [repeatedMeasure]="repeatedMeasure"></app-repeated-measure>
    </div>
    <div *ngIf="editingDifferentMeasures" >
        <app-different-measures [differentMeasures]="differentMeasure"></app-different-measures>
    </div>
    <div *ngIf="editingClusters" >
        <app-cluster [clusters]="cluster"></app-cluster>
    </div>
  </div>
</form>
<div class="container-fluid" *ngIf="!editingRepeatedMeasure && !editingDifferentMeasures && !editingClusters && repeatedMeasures && repeatedMeasures.length > 0 ">
  <h5>Repeated Measures</h5>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Repeats</th>
      <th>Spacing</th>
      <th>Correlation Matrix</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let measure of repeatedMeasures" class="table-info">
      <td>{{measure.name}}</td>
      <td>{{measure.noRepeats}}</td>
      <td>{{measure.spacing}}</td>
      <td><div [mathJaxExpr]="measure.correlationMatrix.toTeX()"></div></td>
      <td>
        <button class="btn btn-primary" type="check" (click)="editRepeatedMeasure(measure)">Edit</button>
        <button class="btn btn-primary" type="check" (click)="deleteRepeatedMeasure(measure)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid" *ngIf="!editingRepeatedMeasure && !editingDifferentMeasures && !editingClusters && differentMeasures && differentMeasures.length > 0 ">
  <h5>Different Measures within same ISU</h5>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-default">
    <tr>
      <th>Measures</th>
      <th>Correlation Matrix</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let measure of differentMeasures" class="table-info">
      <td>
        <div *ngFor="let diffMeasure of measure.differentMeasures">
          <div> {{diffMeasure.name}} - {{diffMeasure.dimension}}</div>
          <br>
      </div>
      </td>
      <td><div [mathJaxExpr]="measure.correlationMatrix.toTeX()"></div></td>
      <td>
        <button class="btn btn-primary" type="check" >Edit</button>
        <button class="btn btn-primary" type="check" (click)="deleteDifferentMeasure(measure)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid" *ngIf="!editingRepeatedMeasure && !editingDifferentMeasures && !editingClusters && differentMeasures && clusters.length > 0 ">
  <h5>Clusters</h5>
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-default">
    <tr>
      <th>Element Names</th>
      <th>Cluster Levels</th>
      <th>Intra class Correlation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cluster of clusters" class="table-info">
      <td>
        <div *ngFor="let level of cluster">
          <div>{{level.elementName}}</div>
          <br>
        </div>
      </td>
      <td>
        <div *ngFor="let level of cluster">
          <div>{{level.clusterLevel}}</div>
          <br>
        </div>
      </td>
      <td>
        <div *ngFor="let level of cluster">
          <div>{{level.intraClassCorrelation}}</div>
          <br>
        </div>
      </td>
      <td>
        <button class="btn btn-primary" type="check" (click)="editCluster(cluster)">Edit</button>
        <button class="btn btn-primary" type="check" (click)="deleteCluster(cluster)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
