<form [formGroup]="withinISUForm">
  <h5>Do you have more than one outcome?</h5>
  <div class="btn-group" data-toggle="buttons">
    <label aria-pressed="true" class="btn btn-primary" [class.active]="multipleOutcomes" id="guidedbtn">
      <input type="radio" id="GUIDED" (click)="selectMultipleOutcomes()"> Yes
    </label>
    <label class="btn btn-primary" aria-pressed="true" [class.active]="!multipleOutcomes" id="flexbtn">
      <input type="radio" id="FLEXIBLE" (click)="selectSingleOutcome()"> No
    </label>
  </div>
  <div *ngIf="!multipleOutcomes">
    <div class="form-group" id="singleoutcomeinput">
      <label for="singleoutcome">Name your outcome variable:</label>
      <input type="string" class="form-control" id="singleoutcome" aria-describedby="singleoutcomehelp" placeholder="You must enter an outcome variable name..." formControlName="singleoutcome" required>
      <div *ngIf="formErrors.singleoutcomeerror" class="alert alert-danger">
        <div class="form-control-feedback">{{formErrors.singleoutcomeerror}}</div>
      </div>
      <small id="singleoutcomehelp" class="form-text text-muted">Outcome variable name must not contain any special characters</small>
    </div>
  </div>
  <div *ngIf="multipleOutcomes" id="multioutcomeinput">
    <div *ngIf="!editing">
      <h6>Choose type of variable to add:</h6>
      <button (click)="addRepeatedMeasure()" type="button" class="btn btn-primary">+ Repeated Measure</button>
    </div>
    <div *ngIf="editing" >
        <app-repeated-measure [repeatedMeasure]="repeatedMeasure"></app-repeated-measure>
    </div>
  </div>
</form>
<div class="container-fluid" *ngIf="!editing && repeatedMeasures && repeatedMeasures.length > 0 ">
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Repeats</th>
      <th>Spacing</th>
      <th>Corellation Matrix</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let measure of repeatedMeasures" class="table-info">
      <td>{{measure.name}}</td>
      <td>{{measure.noRepeats}}</td>
      <td>{{measure.spacing}}</td>
      <td>{{measure.correlationMatrix | json}}</td>
      <td>
        <button class="btn btn-primary" type="check" (click)="editRepeatedMeasure(measure)">Edit</button>
        <button class="btn btn-primary" type="check" (click)="deleteRepeatedMeasure(measure)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
