
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>Please choose one or more statistical tests. If you are unsure which to pick, we recommend the Hotelling Lawley Trace test due to its equivalence to a mixed model test.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngIf="formErrors.statisticaltestsoptions" class="form-group has-danger">
        <div class="form-control-feedback" id="testserr">{{formErrors.statisticaltestsoptions}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-auto">
      <form [formGroup]="statisticalTestsForm">

        <div class="form-check" *ngFor="let test of statisticalTestsForm.controls.statisticaltestsoptions.controls; let i = index">
          <label class="form-check-label"
                 formArrayName="statisticaltestsoptions"
                 id="i">
            <input [formControlName]="i"
                   class="form-check-input"
                   type="checkbox">
            {{statisticalTestsOption[i].name}}
          </label>
        </div>

      </form>
    </div>
  </div>
</div>

<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Statistical Test Help</h5> <button type="button" class="close" ng-checked="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
      <p><a href="https://com-hop-sample-size-shop.sites.medinfo.ufl.edu/files/2012/12/Tutorial_SelectingATest.pdf" target="_blank">Tutorial 7</a> is particularly relevant.</p>
    </div>
    <div class="modal-footer"></div>
  </div>
</ng-template>
