<div *ngIf="isuFactors.cluster">
  <form [formGroup]="intraClassCorrForm">
    <h6>Define the intra class correlation for cluster {{cluster.name}}</h6>
    <div *ngFor="let level of isuFactors.cluster.levels; let i = index">
      <div class="row">
        <div class="col-md-9 align-self-center">
          The intraclass correlation for level <b>{{level.levelName}}</b> must be a number between 1 > x > {{(-1 / (level.noElements-1)).toFixed(3)}}
        </div>
        <div class="col-md-3 align-self-center">
          <input type="number"
                 value="{{level.intraClassCorellation}}"
                 id="{{i}}"
                 formControlName="{{level.levelName}}"
                 step="0.1"
                 required>
        </div>
      </div>
    </div>
    <div *ngIf="formErrors.vectorofcorrelation" class="form-group has-danger">
      <div class="form-control-feedback">{{formErrors.vectorofcorrelation}}</div>
    </div>
  </form>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Intra Class Correlation Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>Help text goes here</p>
    </div>
    <div class="modal-footer"> footer text</div>
  </div>
</ng-template>
