<div *ngIf="measure$ | async as measure">
  <div class="row">
    <p>Define the ratios of standard deviations for {{measure.name}}. One of your values should be 1 and the others should represent the ratio of that value to that value:</p>
    <p>For example, if you believe that the standard deviation doubles at each time, enter the values 1, 2, 4, 8... etc.</p>
  </div>
  <div class="row">{{measure.name}}:</div>
  <div *ngFor="let val of measure.valueNames; let i = index">
    <form [formGroup]="stdevForm">
      <div class="row">
        <div class="col-2 align-self-center" style="padding-left: 0px; overflow: scroll">
          <label>{{val}}:</label>
        </div>
        <div class="col-md-auto align-self-center">
          <input class="form-control" formControlName="{{val}}" id="{{i}}" type="number" step="0.1">
        </div>
      </div>
    </form>
  </div>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Repeated Measure Standard Deviation Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
