<div *ngIf="measure$ | async as measure">
  <div class="row">
    <p>Define the ratios of standard deviations for {{measure.name}}. One of your values should be 1 and the others should represent the ratio of that value to that value:</p>
    <p>For example, if you believe that the standard deviation doubles at each time, enter the values 1, 2, 4, 8... etc.</p>
  </div>
  <div class="row">
    <form [formGroup]="stdevForm">
      <table class="table-responsive">
        <thead>
        <th style="border-bottom: 2px solid #3c4043; border-right: 2px solid #3c4043; padding-right: 5px;">{{measure.name}}</th>
        <th style="border-bottom: 2px solid #3c4043; padding-left: 5px">Standard Deviation Ratio</th>
        </thead>
        <tbody>
        <tr *ngFor="let val of measure.valueNames; let i = index">
          <td style="border-right: 2px solid #3c4043; padding-right: 5px; text-align: center">
            {{val}}
          </td>
          <td>
            <input type="number"
                   class="form-control table-input-control"
                   placeholder=" "
                   id="{{i}}"
                   formControlName="{{val}}"
                   step="0.1">
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="!stDevForm.valid" class="form-group has-danger">
        <div class="form-control-feedback">You must define an expected standard deviation ratio for each repeated measure spacing value.</div>
      </div>
    </form>
  </div>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Repeated Measure Standard Deviation Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
