<h6>Review your study design and calculate stuff!! :)</h6>
<br>
<button (click)="postModel()" class="btn btn-primary btn-lg btn-block" id="calculate">Calculate!</button>
<div *ngIf="hasResults">
  <br>
  <button (click)="downloadResult()" class="btn btn-sm">Download result</button>
  <a id="downloadCsv" [attr.href]="downloadData" download="result.csv" hidden>Download result</a>
  <br>
  <br>
  <table class="table">
    <tr>
      <th>Power</th>
      <th>Total Sample Size</th>
      <th>Means Scale Factor</th>
      <th>Variability Scale Factor</th>
      <th>Test</th>
      <th>Type I Error Rate</th>
    </tr>
    <tr *ngFor="let result of resultForDisplay; index as i" (click)="showDetail(getOutput(result['result']), i)" [class] = "rowStyle(i)">
      <td>{{getOutput(result['result'])}}</td>
      <td>{{ result['smallestGroupSize'] }}</td>
      <td>{{ result['scaleFactor'] }}</td>
      <td>{{ result['variability_scale_factor'] }}</td>
      <td>{{ result['test_type'] }}</td>
      <td>{{ result['typeOneErrorRate'] }}</td>
    </tr>
  </table>
  <div *ngIf="isShowDetail">
    <h4>Details</h4>
    <div class="form-group">
      <label>Power</label>
      <label class="form-control ng-binding">{{ detailPower }}</label>
    </div>
    <div class="form-group">
      <label>Independent Sampling Unit</label>
      <div class="well white-box">
        <ng-container *ngIf="detailCluster; else noClusterContent">
          <label class="ng-binding">{{ detailClusterLevels[0]['levelName'] }}</label>
          <ul *ngIf="detailClusterLevels.length > 0">
            <li *ngFor="let line of detailClusterOverview" class="ng-binding">{{ line }}</li>
          </ul>
        </ng-container>
        <ng-template #noClusterContent>
          <label class="ng-binding">participant</label>
        </ng-template>
      </div>
    </div>
    <div class="form-group">
      <label>Sample Size Details</label>
      <table class="table">
        <ng-container *ngIf="detailPredictor.length > 0; else noPredictorContent">
          <tr>
            <th *ngFor="let predictorObject of detailPredictor;">{{predictorObject['name']}}</th>
            <th> {{ " Per Group Sample Size (" + detailClusterName + ")" }} </th>
          </tr>
          <tr *ngFor="let combination of detailPredictorCombination">
            <td *ngFor="let groupName of combination;"> {{groupName}}</td>
            <td> {{ studyDesign['_isuFactors']['smallestGroupSize'] * combinationsValueMap[combination] }} </td>
          </tr>
          <tr>
            <td [attr.colspan]="detailPredictor.length"> Total Sample Size </td>
            <td> {{ totalSampleSize }} </td>
          </tr>
        </ng-container>
        <ng-template #noPredictorContent>
          <tr>
            <td>
              Total Sample Size: {{ studyDesign['_isuFactors']['smallestGroupSize'] }}
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
  <div id="results" [hidden]="!e2eTest">{{resultString | json}}</div>
</div>
<div id="reviewDataModel" [hidden]="!e2eTest">{{outputString}}</div>
