<h5>Review your study design and calculate stuff!! :)</h5>
<br>
<div class="col-8">
  <button (click)="postModel()" class="btn btn-primary btn-lg btn-block" id="calculate">Calculate!</button>
</div>
<div *ngIf="hasResults">
  <table class="table">
    <tr>
      <th>Power</th>
      <th>Total Sample Size</th>
      <th>Means Scale Factor</th>
      <th>Variability Scale Factor</th>
      <th>Test</th>
      <th>Type I Error Rate</th>
    </tr>
    <ng-container *ngFor="let result of resultString.results">
      <tr *ngFor="let variability_scale_factor of studyDesign['_varianceScaleFactors']" (click)="showDetail(getOutput(result))">
        <td [ngStyle]="{'color': hasWarning(result) ? 'red': 'green' }">{{getOutput(result)}}</td>
        <td>{{ studyDesign['_isuFactors']['smallestGroupSize'] }}</td>
        <td>{{ studyDesign['_scaleFactor'] }}</td>
        <td>{{ variability_scale_factor }}</td>
        <td>{{ result.test }}</td>
        <td>{{ studyDesign['_typeOneErrorRate'] }}</td>
      </tr>
    </ng-container>
  </table>
  <div *ngIf="isShowDetail">
    <h4>Details</h4>
    <div class="form-group">
      <label>Power</label>
      <label class="form-control ng-binding">{{ detailPower }}</label>
    </div>
    <div class="form-group">
      <label>Independent Sampling Unit</label>
      <div class="well white-box">
        <label class="ng-binding">{{ detailClusterLevels[0]['levelName'] }}</label>
        <ul *ngIf="detailClusterLevels.length > 1">
          <ng-container *ngFor="let level of detailClusterLevels.slice(0,-1); let i = index">
            <li class="ng-binding">{{showLevelRelation(detailClusterLevels[i]['levelName'],detailClusterLevels[i+1]['levelName'], level['noElements'])}}</li>
          </ng-container>
          <li class="ng-binding">{{showLevelRelation(detailClusterLevels[detailClusterLevels.length-1]['levelName'], detailClusterName, detailClusterLevels[detailClusterLevels.length-1]['noElements'])}}</li>
          <li class="ng-binding">{{ showLevelConclusion() }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="results" [hidden]="!e2eTest">{{resultString | json}}</div>
</div>
<div id="reviewDataModel" [hidden]="!e2eTest">{{outputString}}</div>
