<div *ngIf="repeatedMeasure$ | async as repeatedMeasure">
  <div class="row">
    <p>
      For a given research participant, responses vary across outcomes and across repeated measurements.
      The amount of variability can dramatically impact power and sample size.
    </p>
    <p>
      Define the <b>{{repeatedMeasure.name}}</b> correlation matrix, by entering correlations you expect to observe
      among the chosen spacing values of <b>{{repeatedMeasure.name}}</b>:</p>
  </div>
  <app-correlation-matrix [size]="repeatedMeasure.valueNames.length" [title]="repeatedMeasure.name" [labels]="repeatedMeasure.valueNames"></app-correlation-matrix>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Repeated Measure Correlations Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
