<form [formGroup]="typeOneErrorRateForm" novalidate>
      <div class="row" id="typeoneerrordesc">
        <p>
          A Type I error occurs when a scientist declares a difference when none is present in the population.
          The Type I error rate is the probability of that kind of error, a false positive, and is often referred to as &alpha; (alpha).
          A Type I error rate can range from 0 to 1. Although the most commonly used value is 0.05, we recommend 0.01.
        </p>
      </div>
      <div class="row" *ngIf="firstAlpha()">
        <label for="typeoneerror">Enter your Type I Error rate:</label>
      </div>
      <div class="row" *ngIf="!firstAlpha()">
        <label for="typeoneerror">Would you like to add another Type I Error rate?</label>
      </div>
      <div class="row">
        <div class="col col-md-auto" style="padding-left: 0px">
          <div class="form-group" id="typeoneerrorinput">

            <input type="number" class="form-control"
                   id="typeoneerror"
                   aria-describedby="typeoneerrorhelp"
                   placeholder="0 > α > 1"
                   formControlName="typeoneerror"
                   (keyup.enter)="addAlpha()"
                   [class]="typeOneErrorStyle()">

          </div>
        </div>
        <div class="col col-md-auto">
          <i class="material-icons" (click)="addAlpha()" id="addalpha" style="padding-bottom: 15px">add_box</i>
        </div>
      </div>
      <div class="row">
        <div *ngIf="warningInputTypeOneError()" class="warning">Warning: Type one error <= 0.1 recommended.</div>
      </div>
      <div class="row">
        <div *ngIf="warningTypeOneErrorFromPower" class="warning">Warning: All type one errors should be smaller than powers recommended.</div>
      </div>
      <div class="row">
        <div *ngIf="formErrors.typeoneerror" class="form-group has-danger">
          <div class="form-control-feedback">{{formErrors.typeoneerror}}</div>
        </div>
      </div>
      <div class="row">
        <small id="typeoneerrorhelp" class="form-text text-muted">
          Type I Error rates must be an integer between 0 > α > 1
        </small>
      </div>

      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <th style="padding-left: 0px">Type One Error Rate</th>
            <th>remove</th>
            </thead>
            <tbody>
            <tr *ngIf="firstAlpha()">
              <td style="padding-left: 0px"> You must enter at least one type one error rate.</td>
              <td></td>
            </tr>
            <tr *ngFor="let alpha of alphas$ | async; let i = index; " id="alphalist" [class]="rowStyle(i)">
              <td [class]="typeOneErrorTableStyle(alpha)">{{alpha}}</td>
              <td><i class="material-icons" (click)="removeAlpha(alpha)" style="margin-bottom: 5px" id="removealpha">delete_forever</i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
</form>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Type One Error Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>Help text goes here</p>
    </div>
    <div class="modal-footer"> footer text</div>
  </div>
</ng-template>
