<h5>What is the nature of your {{isuFactors.hypothesisName}} hypothesis?</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="btn-group-vertical btn-block" data-toggle="buttons">
        <label class="btn btn-primary" style="margin-bottom: 0px;" id="hlt" [class.active]="isSelected(HYPOTHESIS_NATURE.GLOBAL_TRENDS)">
          <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.GLOBAL_TRENDS)">Global Trends
        </label>
      </div>
      <br>
      <br>
      <div class="btn-group-vertical btn-block" data-toggle="buttons">
        <label class="btn btn-secondary" style="margin-bottom: 0px;" id="pb" [class.active]="false" *ngIf="!showAdvancedOptions">
          <input type="checkbox" (click)="toggleAdvancedOptions()">Show Advanced Options
        </label>
        <label class="btn btn-secondary" style="margin-bottom: 0px;" [class.active]="false" *ngIf="showAdvancedOptions">
          <input type="checkbox" (click)="toggleAdvancedOptions()">Hide Advanced Options
        </label>
      </div>
      <br>
      <br>
      <div class="btn-group-vertical btn-block" data-toggle="buttons">
        <label class="btn btn-primary" style="margin-bottom: 0px;" [class.active]="isSelected(HYPOTHESIS_NATURE.IDENTITY)" *ngIf="showAdvancedOptions">
          <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.IDENTITY)">Identity
        </label>
        <label class="btn btn-primary" style="margin-bottom: 0px;" [class.active]="isSelected(HYPOTHESIS_NATURE.POLYNOMIAL)" *ngIf="showAdvancedOptions">
          <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.POLYNOMIAL)">Polynomial
        </label>
        <label class="btn btn-primary" style="margin-bottom: 0px;" [class.active]="isSelected(HYPOTHESIS_NATURE.USER_DEFINED)" *ngIf="showAdvancedOptions" disabled="true">
          <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.USER_DEFINED)" [disabled]="true">User Specified
        </label>
      </div>

      <br>
      <br>
      <h6>Marginals in effect:</h6>
      <div *ngFor="let m of marginalsIn">
        <div>Predictor Name: {{m.name}}</div>
        <div [mathJaxExpr]="m.toTeX()"></div>
      </div>
      <hr>
      <h6>Marginals for factors not in chosen effect:</h6>
      <div *ngFor="let m of marginalsOut">
        <div>Predictor Name: {{m.name}}</div>
        <div [mathJaxExpr]="m.toTeX()"></div>
      </div>
      <hr>
      <h6>C Matrix</h6>
      <div [mathJaxExpr]="texString" style="padding-top: 10px"></div>


    </div>

    <div class="col">
      <div class="card">
        <h3 class="card-header">Global Trends</h3>
        <div class="card-block">
          <h5 class="card-title">Rodriguez</h5>
          <h6 class="card-subtitle text-muted">Sugar Man</h6>
        </div>
        <div class="card-block">
          <p class="card-text">Sugar man, won't you hurry
            'Cos I'm tired of these scenes
            For a blue coin won't you bring back
            All those colors to my dreams
          </p>
          <p class="card-text">
            Silver magic ships you carry
            Jumpers, coke, sweet Mary Jane
            Sugar man met a false friend
            On a lonely dusty road
            Lost my heart when I found it
            It had turned to dead black coal
          </p>
          <p class="card-text">
            Silver magic ships you carry
            Jumpers, coke, sweet Mary Jane
            Sugar man you're the answer
            That makes my questions disappear
            Sugar man 'cos I'm weary
            Of those double games I hear
            Sugar man, Sugar man, Sugar man, Sugar man,
            Sugar man, Sugar man, Sugar man</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted text-xs-center">
          1970
        </div>
      </div>
    </div>
  </div>
</div>
