<div class="container-fluid">
  <h5 style="padding: 0">Define your title contrast matrix:</h5>
  <div style="padding: 15px">
    <form [formGroup]="contrast_matrix_form">
      <div *ngFor="let r of getRowsArray(); let a=index" class="row">
        <div *ngFor="let c of getColsArray(); let b=index" class="col" style="padding: 0">
          <input type="number" class="form-control" formControlName="{{r}}-{{c}}" id="{{r}}-{{c}}" step="1" min={{min}} max="{{max}}">
        </div>
      </div>
      <div *ngIf="getFormErrors()" class="form-group has-danger">
        <div class="form-control-feedback">Correlation matrix elements must have values between {{min}} and {{max}}.</div>
      </div>
    </form>
  </div>
</div>
