<h5>Would you like to create a power curve?</h5>
<div class="btn-group" data-toggle="buttons">
  <label *ngIf="!createPowerCurve" aria-pressed="true" class="btn btn-primary" id="curvebtn">
    <input type="radio" id="curvebtninput" (click)="toggleCreatePowerCurve()"> Create a power curve
  </label>
  <label *ngIf="createPowerCurve" aria-pressed="true" class="btn btn-primary" id="nocurvebtn">
    <input type="radio" id="nocurvebtninput" (click)="toggleCreatePowerCurve()"> Do not create a power curve
  </label>
</div>
