<h5>Enter the total sample size from which you obtained beta:</h5>
<div>
  <div id="betasamplesizedesc">
    <p>
      Here lives a  useful description of how you obtained beta and what sample size you used:
    </p>
  </div>
  <div class="form-group" id="betasamplesizeinput">
    <label for="betasamplesize">Sample size:</label>
    <input type="number" class="form-control" id="betasamplesize" aria-describedby="betasamplesizehelp" value="1" required>
    <small id="betasamplesizehelp" class="form-text text-muted">sample size must be an integer greater than 0</small>
  </div>
</div>
