<h5>
  how would you like to define the marginal matrix for X
</h5>
<div class="btn-group-vertical btn-block" data-toggle="buttons">
  <label class="btn btn-primary" style="margin-bottom: 0px;" [class.active]="isSelected(HYPOTHESIS_NATURE.GLOBAL_TRENDS)">
    <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.IDENTITY)">Main Effect
  </label>
  <label class="btn btn-primary" style="margin-bottom: 0px;" [class.active]="isSelected(HYPOTHESIS_NATURE.IDENTITY)">
    <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.IDENTITY)">Identity
  </label>
  <label class="btn btn-primary" style="margin-bottom: 0px;" [class.active]="isSelected(HYPOTHESIS_NATURE.POLYNOMIAL)">
    <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.POLYNOMIAL)">Polynomial
  </label>
  <label class="btn btn-primary" style="margin-bottom: 0px;" [class.active]="isSelected(HYPOTHESIS_NATURE.USER_DEFINED)">
    <input type="checkbox" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.USER_DEFINED)" [disabled]="true">User Specified
  </label>
</div>
