<div class="container-fluid">
  <h5 style="padding: 0">Define your correlation matrix:</h5>
  <div style="padding: 15px">
    <form [formGroup]="correlationMatrixForm">
      <div *ngFor="let r of sizeArray; let a=index" class="row">
        <div *ngFor="let c of sizeArray; let b=index" class="col" style="padding: 0">
          <div>
            <input type="number" class="form-control" formControlName="{{r}}-{{c}}" id="{{r}}-{{c}}">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<button class="btn btn-primary" (click)="updateMatrix()">Add Repeated Measure</button>
