<div *ngIf="outcome$ | async as outcome">
  <div *ngIf="measure$ | async as measure">
    <h5>Define the standard deviations for {{measure.name}} in relation to {{outcome.name}}:</h5>
    <div class="row">{{measure.name}}:</div>
    <div *ngFor="let val of measure.valueNames">
      <form [formGroup]="stdevForm">
        <div class="row">
          <div class="col-md-auto">
            <label>{{val}}:</label>
          </div>
          <div class="col-md-auto">
            <input class="form-control" formControlName="{{val}}" type="number" step="0.01">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
