<h5>Define your power curve data series using combinations of the quantities below:</h5>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto">
      <div class="row" *ngIf="hasPower">
        <div class="col-md-auto">
          <div style="margin:5px; padding:5px;">
            <label for="powerdropdown" style="font-size: 20px;">Power:</label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-secondary dropdown-toggle btn-sm" id="powerdropdown" ngbDropdownToggle>1</button>
              <div ngbDropdownMenu aria-labelledby="powerdropdown">
                <button class="dropdown-item" >2</button>
                <button class="dropdown-item" >3</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto">
          <div style="margin:5px; padding:5px;">
            <label for="errordropdown" style="font-size: 20px;">Type I Error:</label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-secondary dropdown-toggle btn-sm" id="errordropdown" ngbDropdownToggle>1</button>
              <div ngbDropdownMenu aria-labelledby="errordropdown">
                <button class="dropdown-item" >2</button>
                <button class="dropdown-item" >3</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="hasMeanScaleFactors">
        <div class="col-md-auto">
          <div style="margin:5px; padding:5px;">
            <label class="label-primary"for="meanscalefactordropdown" style="font-size: 20px;">Mean Scale Factor:</label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-secondary dropdown-toggle btn-sm" id="meanscalefactordropdown" ngbDropdownToggle>1</button>
              <div ngbDropdownMenu aria-labelledby="meanscalefactordropdown">
                <button class="dropdown-item" >2</button>
                <button class="dropdown-item" >3</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="hasVarianceScaleFactors">
        <div class="col-md-auto">
          <div style="margin:5px; padding:5px;">
            <label for="varscalefactordropdown" style="font-size: 20px;">Variance Scale Factor:</label>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-secondary dropdown-toggle btn-sm" id="varscalefactordropdown" ngbDropdownToggle>1</button>
              <div ngbDropdownMenu aria-labelledby="varscalefactordropdown">
                <button class="dropdown-item" >2</button>
                <button class="dropdown-item" >3</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-auto">
      <div style="margin:5px; padding:5px;">
        <i class="material-icons"  style="margin-top: 10px" id="addoutcome">add</i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-auto">DATA SERIES SHOW UP HERE</div>
  </div>
</div>
