<form [formGroup]="gaussianCovariateCorrForm">
  <h5>Specify how strongly the covariate is correlated with each response variable:</h5>
  <div class="container">
    <div *ngFor="let outcome of isuFactors.outcomes; let i = index" class="row">
      <div class="col-1" >
        {{outcome.name}}:
      </div>
      <div class="col-9 justify-content-start">
        <input type="number" formControlName="{{outcome.name}}" value="{{outcome.standardDeviation}}" id="{{i}}" required>
      </div>
    </div>
    <div *ngIf="formErrors.covariatecorrelation" class="form-group has-danger">
      <div class="form-control-feedback">{{formErrors.covariatecorrelation}}</div>
    </div>
  </div>
</form>
