<form [formGroup]="gaussianCovariateCorrForm">
  <div class="row">
    <h6>Specify how strongly the covariate is correlated with each response variable:</h6>
  </div>
  <div *ngFor="let outcome of isuFactors.outcomes; let i = index" class="row">
    <div class="col-1 align-self-center" style="overflow: scroll;">
      {{outcome.name}}:
    </div>
    <div class="col-md-auto align-self-center">
      <input type="number" formControlName="{{outcome.name}}" value="{{outcome.standardDeviation}}" id="{{i}}" required>
    </div>
  </div>
  <div *ngIf="formErrors.covariatecorrelation" class="form-group has-danger">
    <div class="form-control-feedback">{{formErrors.covariatecorrelation}}</div>
  </div>
</form>
