<div *ngIf="hasTable" id="tableControls">
  <form [formGroup]="marginalMeansForm" id="marginalMeansForm">
    <div class="container-fluid">
      <div *ngIf="!grandMean">
        <p *ngIf="hasMultipleDimensions()">
          The table below shows the mean values for outcome <b>{{table.name}}</b> within each group in the study.
          Each group is represented by a row in the table, and each repeated measure dimension is represented by a column.</p>
        <p>
        <p *ngIf="!hasMultipleDimensions()">
          The table below shows the mean values for outcome <b>{{table.name}}</b> within each group in the study.
          Each group is represented by a row in the table.</p>
        <p>
          Enter the mean values you expect to observe for outcome <b>{{table.name}}</b> within each group.
          The table should contain at least one value that is non-zero.
          Also, at least two groups should have means which differ by a scientifically meaningful amount.
        </p>
      </div>
      <p *ngIf="grandMean">What is the expected mean value for outcome <b>{{table.name}}</b>? <input type="number" style="box-shadow: none; text-align:center;"
                                                                                     formControlName="0-0"
                                                                                     placeholder=" " style="background-color: transparent"
                                                                                     id="0-0"></p>

      <div class="table-responsive" *ngIf="!grandMean">
        <p><b>Expected mean values, per group, for <i>{{table.name}}</i></b></p>
        <table>
          <tbody>
          <td>
            <div style="-webkit-transform: rotate(-180deg);
                        -moz-transform: rotate(-180deg);
                        writing-mode: vertical-lr;
                        font-weight: bold">
              {{table.getRowLabel(table.table[0][0])}}
            </div>
          </td>
          <td>
            <table class="table" >
              <thead  *ngIf="table.hasCols">
              <tr>
                <td *ngFor="let col of table.table[0]; let j = index;"
                    style="border-right: transparent; border-top: 0px solid transparent;">
                  <div *ngIf="j === 1">
                    <b>{{table.getColLabel(table.table[0][0])}}</b>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="border-top: 0px solid transparent;"></td>
                <td *ngFor="let col of table.table[0]; let l = index" style="text-align:center; border-top: 0px solid transparent;" [style.border-left]="getColStyle(l)">
                  <b>{{table.getColValueLabel(col)}}</b>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of table.table; let i = index;">
                <td [style.border-top]="getRowStyle(i, table.hasCols)" style="vertical-align: middle; padding: 2px;">
                  <b>{{table.getRowValueLabel(row[0])}}</b>
                </td>
                <td *ngFor="let col of row; let k = index" [style.border-top]="getRowStyle(i, table.hasCols)" [style.border-left]="getColStyle(k)">
                  <div>
                    <input type="number" style="box-shadow: none; text-align:center;"
                           formControlName="{{table.table.indexOf(row)}}-{{row.indexOf(col)}}"
                           placeholder=" "
                           id="{{table.table.indexOf(row)}}-{{row.indexOf(col)}}">
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          </tbody>
        </table>
      </div>

    </div>
    <div *ngIf="!valid" class="form-group has-danger">
      <div class="form-control-feedback" id="outcomeserr">You must choose an expected mean value for each group in your design.</div>
    </div>
  </form>
  <form [formGroup]="untouchedValuesForm" id="untouchedValuesForm" *ngIf="!grandMean">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-lg-3 col-md-3 col-xs-12">
          <button class="btn btn-secondary btn-sm" (click)="setBlankValues()">Set blank values to</button>
        </div>
        <div class="col col-lg-9 col-md-9 col-xs-12">
          <input type="number" id="setDefaultsInupt" formControlName="untouchedValues" placeholder="value" style="background-color: transparent" step = 0.1>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Marginal Means Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
