<p>
  Please pick a concise title for your study
</p>
<form [formGroup]="studyTitleForm">
  <input type="text"
         class="form-control"
         id="stydytitleinput"
         placeholder="New Study"
         formControlName="studyTitle"
         required>
</form>

<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Study Title Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"></div>
  </div>
</ng-template>
