<p>
  Please pick a concise title for your study
</p>
<form [formGroup]="studyTitleForm">
  <input type="text"
         class="form-control"
         id="stydytitleinput"
         placeholder="{{studyTitle}}"
         formControlName="studyTitle"
         required>
</form>

<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Study Title Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>Try to give your study a concise, meaningful name.</p>
      <p>If you choose to download your study design as a json file, the resulting file will be given this name.</p>
    </div>
    <div class="modal-footer"></div>
  </div>
</ng-template>
