<div class="row">
  <div class="col-auto">
    <p>
      Please pick a concise title for the study:
    </p>
  </div>
</div>
<form [formGroup]="studyTitleForm">
  <div class="row">
    <div class="col-auto">
        <input type="text"
               class="form-control"
               id="stydytitleinput"
               placeholder=" "
               formControlName="studyTitle">
    </div>
  </div>
  <div class="row" *ngIf="isClickNext && ! validTitle">
    <div class="col-auto">
      <div class="form-group has-danger">
        <div class="form-control-feedback">
          You must choose a title for your study.
        </div>
      </div>
    </div>
  </div>
</form>


<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Study Title Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"></div>
  </div>
</ng-template>
