
<div class="row">
  <div class="col">
    <p>
      Does your design include a Gaussian(normally-distributed) covariate.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group" data-toggle="buttons">
      <label id="removegaussiancovariatebtn" class="btn btn-secondary" [class.active]="!hasGaussianCovariate()">
        <input type="radio" id="removegaussiancovariateradio" (click)="removeGaussianCovariate()">No Gaussian Covariate
      </label>
      <label id="includegaussiancovariatebtn" class="btn btn-secondary"  [class.active]="hasGaussianCovariate()">
        <input type="radio" id="includegaussiancovariateradio" (click)="includeGaussianCovariate()">Gaussian Covariate
      </label>
    </div>
  </div>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Gaussian Covariate Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <mat-icon>close</mat-icon>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
