<h5>Would you like to define confidence intervals for your power curves?</h5>
<div class="btn-group" data-toggle="buttons">
  <label *ngIf="!hasConfidenceInterval" aria-pressed="true" class="btn btn-primary" id="cibtn">
    <input type="radio" id="CI" (click)="addConfidenceInterval()"> Define Confidence Intervals
  </label>
</div>
<div *ngIf="hasConfidenceInterval">
  <h5>Confidence Interval:</h5>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-auto">
        {{confidenceInterval | json}}
      </div>
      <div class="col col-md-auto">
        <i class="material-icons" (click)="removeConfidenceInterval()" style="margin-bottom: 5px" id="removeconfidenceinterval">remove</i>
      </div>
      <div class="col  col-md-auto">
        <i class="material-icons" (click)="editConfidenceInterval()" style="margin-bottom: 5px" id="editconfidenceinterval">create</i>
      </div>
    </div>
  </div>
</div>
