<h5>Define the standard deviations for each of the repeated measure/outcome pairs in your design:</h5>
<ul class="nav nav-tabs">
  <div *ngFor="let key of isuFactors.outcomes">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab">{{key.name}}</a>
    </li>
  </div>
</ul>
<hr>
<div id="myTabContent" class="tab-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let sel of map.get(selected)" class="col">
        <input value=1>
      </div>
    </div>
  </div>
</div>
