<div *ngIf="!editing && stage === -1 && nextPredictors()" id="firstPredictor">
  <div class="container-fluid">
    <div class="row">
      <div class="col" *ngIf="!hasPredictors()">
        <h5>Do you have any Between ISU Factors?</h5>
      </div>
      <div class="col" *ngIf="hasPredictors()">
        <h5>Would you like to add another Predictor?</h5>
      </div>
      <div class="col">
        <button id="addbetweenbtn" (click)="includePredictors()" class="btn btn-primary">Define Between ISU Factors</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!editing && stage === -1 && !nextPredictors()" id="maxPredictors">
  <h5>Maximum number of BetweenISU predictors for GLIMMPSE added.</h5>
</div>

<div *ngIf="stages[0] === stageName">
  <form [formGroup]="predictorForm" id="predictorForm">
    <div class="container-fluid">
      <div class="form-group">
        <h5>Name your predictor:</h5>
        <input class="form-control" formControlName="predictorName" required>
      </div>
    </div>
  </form>
</div>

<div *ngIf="stages[1] === stageName">
  <form [formGroup]="groupsForm" id="groupsForm">
    <div class="container-fluid">
      <div class="row" *ngIf="firstGroup() || nextGroup()">
        <h5>Name at least two groups:</h5>
        <div class="col">
          <input class="form-control" formControlName="group" (keyup.enter)="addGroup()" id="group">
        </div>
        <div class="col">
          <i class="material-icons" (click)="addGroup()" style="margin-top: 10px" id="addgroup">add</i>
        </div>
      </div>
      <br>
      <small *ngIf="!firstGroup()">Outcomes:</small>
      <div *ngFor="let grp of groups" id="grouplist">
        <div class="container-fluid">
          <div class="row">
            <div class="col col-md-auto">
              <i class="material-icons" (click)="removeGroup(grp)" style="margin-bottom: 5px" id="removeoutcome">remove</i>
            </div>
            <div class="col">
              {{grp}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="hasPredictors()">
  <br>
  <small>Between ISU Predictors:</small>
  <div *ngFor="let predictor of betweenIsuPredictors; let i = index">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-md-auto">
          <i class="material-icons" (click)="removePredictor(predictor)" style="margin-bottom: 5px" id="removepredictor">remove</i>
        </div>
        <div class="col  col-md-auto">
          <i class="material-icons" (click)="editPredictor(predictor)" style="margin-bottom: 5px" id="editpredictor">create</i>
        </div>
        <div class="col">
          {{predictor | json}}
        </div>
      </div>
    </div>
  </div>
</div>
