<div [@fade]="stage" (@fade.start)="startTransition($event)" (@fade.done)="doneTransition($event)" >
  <div *ngIf="isInfo()">
    <div class="row">
      <p>What type of contrast do you wish among the levels of the response variables?</p>
    </div>
    <div class="row"
         ngClass="{{getButtonClass()}}"
         data-toggle="buttons">
      <label aria-pressed="true"
             class="btn btn-secondary"
             id="globaltrendslbl"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.GLOBAL_TRENDS">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.GLOBAL_TRENDS)"> {{HYPOTHESIS_NATURE.GLOBAL_TRENDS}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             id="identitylbl"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.IDENTITY">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.IDENTITY)"> {{HYPOTHESIS_NATURE.IDENTITY}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             *ngIf="isContinuous()"
             id="polylbl"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.POLYNOMIAL">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.POLYNOMIAL)"> {{HYPOTHESIS_NATURE.POLYNOMIAL}}
      </label>
    </div>

    <div  *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.GLOBAL_TRENDS"  class="row" id="mixedalldesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
        The parameters of interest are differences between groups at individual repeated measures.
      </p>
      <p>
        The null hypothesis is that all pairwise differences between groups are the same among all pairs of repeated measures.
      </p>
    </div>
    <div  *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.POLYNOMIAL" class="row" id="mixedtrendsdesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
        The parameters of interest are polynomial coefficients defining trends across groups.
      </p>
      <p>
        The null hypothesis is that all trends across your groups are the same for all trends across your repeated measures.
        The average trend between and the average trend within are omitted.
      </p>
    </div>
    <div  *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.IDENTITY" class="row" id="mixedidentitydesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
        The parameters of interest are group means at each repeated measure.
      </p>
      <p>
        The null hypothesis is that each group mean at each repeated measure is zero.
      </p>
      <p>
        Warning: this hypothesis evaluates whether all mean differences are equal to zero AND whether the grand mean
        is equal to zero. This should not be confused with the “all mean differences equal to zero” option.
        The warning applies twice, once to the group dimension and once to the repeated measure dimension.
      </p>
    </div>
  </div>
</div>

<ng-template #canDeactivate>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">
      <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Between Hypothesis Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>Help text goes here</p>
    </div>
    <div class="modal-footer"> footer text</div>
  </div>
</ng-template>
