<script src="../within-isu-repeated-measures/within-isu-repeated-measures.component.ts"></script>

<div *ngIf="!editing" id="firstPredictor">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h5>Do you have any Between ISU Factors?</h5>
      </div>
      <div class="col">
        <button id="addbetweenbtn" (click)="includeBetweenIsuFactors()" class="btn btn-primary">Define Between ISU Factors</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="stages[0] === stageName">
  <form [formGroup]="predictorForm">
    <div class="container-fluid">
      <div class="form-group">
        <h5>Name your predictor:</h5>
        <input class="form-control" formControlName="predictorName" required>
      </div>
    </div>
  </form>
</div>

<div *ngIf="stages[1] === stageName">
  <form [formGroup]="groupsForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <input class="form-control" formControlName="group" (keyup.enter)="addGroup()" id="group">
        </div>
        <div class="col">
          <i class="material-icons" (click)="addGroup()" style="margin-top: 10px" id="addgroup">add</i>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="stages[2] === stageName">Stage 2 Baby!</div>
