<div  [@.disabled]="disableAnimationa">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <div class="container-fluid" style="margin-left: 0; padding-left: 0;">
      <div class="row">
        <a class="navbar-brand" href="#" style="padding-left: 10px; padding-bottom: 0px; margin-bottom: 0em;"> <mat-icon style="fill: rgba(35, 167, 231, 1);" svgIcon="glimmpsediamond" (click)="showStatus()"></mat-icon> GLIMMPSE</a>
      </div>
      <div class="row d-none d-sm-block" style="padding-left: 12px; margin-bottom: 0em; color: white;">General Linear Mixed Model Power and Sample Size</div>
    </div>
  </nav>
  <div class="container-fluid" style="
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
  background: white;">
    <br *ngIf="isLanding()">
    <hr *ngIf="isLanding()">
    <div *ngIf="isLanding()" class="row">
      <div class="col col-md-auto">
        <h5>Start Your Study Design</h5>
        <p class="w-75">
          Welcome to GLIMMPSE. The GLIMMPSE software calculates power and sample size for study designs with normally
          distributed outcomes. Select one of the options below to begin your power or sample size calculation.
        </p>
      </div>
    </div>
    <div *ngIf="isLanding()" class="row">
      <div class="col col-lg-2 col-md-2 col-xs-12 align-self-center" style="padding-right: 10px">
        <label class="btn btn-primary btn-block">
          New  Study<input class="" type="radio" (click)="newStudy()" style="display: none;">
        </label>
      </div>
      <div class="col col-lg-10 col-md-10 col-xs-12 align-self-center" style="padding-right: 10px">
        <p class="w-75" style="margin-bottom: 10px">Start a new design.</p>
      </div>
    </div>
    <div *ngIf="isLanding()" class="row">
      <div class="col col-lg-2 col-md-2 col-xs-12 align-self-center" style="padding-right: 10px">
        <label class="btn btn-primary btn-block">
          Upload<input class="" type="file" (change)="onFileChange($event)" style="display: none;">
        </label>
      </div>
      <div class="col col-lg-10 col-md-10 col-xs-12 align-self-center">
        <p class="w-75" style="margin-bottom: 10px">You have previously used GLIMMPSE and wish to work on a saved design.</p>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
