<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="grid">
    <div class="row">
      <a class="navbar-brand" href="#">GLIMMPSE V3 DEMO</a>
    </div>
    <div class="row">
      <h6>Power and Sample Size for General Linear Mixed Models</h6>
    </div>
  </div>
</nav>
<!--<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="collapse  navbar-collapse">
  <ul class="navbar-nav mr-auto">
  <li class="nav-item ">
    <a class="nav-link" href="/design">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/mathjax">Documentation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="#">About</a>
  </li>
  </ul>
    <div>
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </div>
  </div>
</nav> -->
<div class="container">
  <router-outlet></router-outlet>
</div>

