<h5>Choose your statistical tests:</h5>
<div class="container">
  <div class="row">
    <div class="col">Multivariate:</div>
    <div class="col">Univariate:</div>
    <div class="col">Future:</div>
  </div>
  <div class="row">

    <div class="col">
      <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-primary">Hotelling Lawley Trace</button>
        <button type="button" class="btn btn-primary">Pillai-Bartlett Trace</button>
        <button type="button" class="btn btn-primary">Wilks Likelihood Ratio</button>
      </div>
    </div>

    <div class="col">
      <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-primary">Repeated Measures with Box Correction</button>
        <button type="button" class="btn btn-primary">Repeated Measures with Geisser-Greenhouse Correction</button>
        <button type="button" class="btn btn-primary">Repeated Measures with Huynh-Feldt Correction</button>
        <button type="button" class="btn btn-primary">Repeated Measure, uncorrected</button>
      </div>
    </div>

    <div class="col">
      <div class="btn-group-vertical" data-toggle="buttons">
        <button type="button" class="btn btn-primary">High Dimension, low sample size- UNIREP</button>
        <button type="button" class="btn btn-primary">High Dimension, low sample size - MULTIREP</button>
      </div>
    </div>

  </div>
</div>

