<form [formGroup]="powerSampleSizeForm" novalidate>
  <h5>Solve for:</h5>
  <div class="container-fluid">
    <div class="btn-group" data-toggle="buttons">
      <label *ngIf="isRejection()" aria-pressed="true" class="btn btn-primary" [class.active]="isPower()" id="powerbtn">
        <input type="radio" id="powerradio" (click)="selectPower()"> Power
      </label>
      <label *ngIf="isCIWidth() || isWAVR()" aria-pressed="true" class="btn btn-primary" [class.active]="isPower()" id="probabilitybtn">
        <input type="radio" id="probabilityradio" (click)="selectPower()"> Probability
      </label>
      <label class="btn btn-primary" aria-pressed="true" [class.active]="isSampleSize()" id="samplesizebtn">
        <input type="radio" id="samplesizeradio" (click)="selectSampleSize()"> Sample Size
      </label>
    </div>
    <div>
      <div *ngIf="isPower()" id="samplesizedesc">
        <p>
          I am just a poor boy
          Though my story's seldom told
          I have squandered my resistance
          For a pocketful of mumbles
          Such are promises
          All lies and jest
          Still, a man hears what he wants to hear
          And disregards the rest
        </p>
      </div>
      <div *ngIf="isSampleSize()" id="powerdesc">
        <p>
          In the clearing stands a boxer
          And a fighter by his trade
          And he carries the remainders
          Of every glove that laid him down
          And cut him till he cried out
          In his anger and his shame
          “I am leaving, I am leaving”
          But the fighter still remains
          Still remains
        </p>
      </div>
      <div class="form-group" *ngIf="isPower()" id="samplesizeinput">
        <label for="samplesize">Enter your sample size:</label>
        <input type="number" class="form-control" id="samplesize" aria-describedby="samplesizehelp" placeholder="Choose a number from 1 -> 1000" formControlName="samplesize" required>
        <div *ngIf="formErrors.samplesize" class="form-group has-danger">
          <div class="form-control-feedback">{{formErrors.samplesize}}</div>
        </div>
        <small id="samplesizehelp" class="form-text text-muted">Sample size must be an integer between 1 >= x > 1000</small>
      </div>
      <div class="form-group" *ngIf="isSampleSize()" id="powerinput">
        <label for="power" ng-non-bindable *ngIf="isRejection()" id="rejectnulllbl">Probability &#123;Reject null&#125;:</label>
        <label for="power" ng-non-bindable *ngIf="isCIWidth()" id="achieveciwidthlbl">Probability &#123;achieve CI Width&#125;:</label>
        <label for="power" ng-non-bindable *ngIf="isWAVR()" id="probwavrlbl">Probability &#123;WAVR&#125;:</label>
        <input type="number" class="form-control" id="power" aria-describedby="powerhelp" placeholder="Choose a number between 0 -> 1" formControlName="power" required>
        <div *ngIf="formErrors.power" class="form-group has-danger">
          <div class="form-control-feedback">{{formErrors.power}}</div>
        </div>
        <small id="powerhelp" class="form-text text-muted">Power must be an integer between 0 > x > 1</small>
        <div class="form-group" *ngIf="isCIWidth() || isWAVR()">
          <label for="ciwidth">Confidence Interval Width:</label>
          <input type="number" class="form-control" id="ciwidth" aria-describedby="ciwidthhelp" placeholder="Choose a number between 0 -> 10" formControlName="ciwidth" required>
          <div *ngIf="formErrors.ciwidth" class="form-group has-danger">
            <div class="form-control-feedback">{{formErrors.ciwidth}}</div>
          </div>
          <small id="ciwidthhelp" class="form-text text-muted">Confidence Interval width must be an integer between 0 > x > 10</small>
        </div>
      </div>
    </div>
  </div>
  <small>Target event: {{targetEvent}}</small>
</form>


