<div *ngIf="!hasCluster() && !editing" id="firstcluster">
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <h5>Are your outcomes measured in a cluster?</h5>
      </div>
      <div class="row">
        <p>
          In a clustered design, the independent sampling unit is a cluster, such as a community, school, or classroom. Observations within a cluster are correlated. The labels for observations within a cluster must be exchangeable. For example, child "id" within classroom can be reassigned arbitrarily. In contrast, observations across time cannot be reassigned and should not be considered clustered observations. Clustering, or repeated measures, or a combination, creates a multilevel design. The common correlation between any pair of cluster members is termed the intraclass correlation or intracluster correlation. <br /><br />

          To include clustering in the study, click "Add Clustering" and follow the prompts. <br /><br />

          You may specify up to 3 levels of clustering. <br /><br />
        </p>
      </div>
      <div class="row">
        <div class="btn-group" data-toggle="buttons">
          <label [class.active]="included" id="includerptmeasuresbtn" class="btn btn-primary">
            <input type="radio" id="includerptmeasuresradio" (click)="includeClusters()">Define Clustering
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="included">

  <div *ngIf="stages[0] === stageName">
    <div id="clustersheader">
      <h5>What term would you like to use for a participant in the study? (For example, student.)</h5>
    </div>
    <form [formGroup]="elementForm">
      <div class="form-group">
        <input class="form-control" formControlName="name" id="name" required>
        <div *ngIf="formErrors.cluster" class="form-group has-danger">
          <div class="form-control-feedback" id="nameerr">{{formErrors.cluster}}</div>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="stages[1] === stageName">
    <h5>Name each level in the cluster and the number of elements in that level:</h5>
    <form [formGroup]="clusterLevelForm" id="clusterLevelForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-md-auto">
            <div class="form-group">
              <label for="levelName">Clustering level name:</label>
              <input class="form-control" formControlName="levelName" id="levelName" required>
              <div *ngIf="formErrors.clusterlevelname" class="form-group has-danger">
                <div class="form-control-feedback" id="levelnameerr">{{formErrors.clusterlevelname}}</div>
              </div>
            </div>
          </div>
          <div class="col col-md-auto">
            <div class="form-group">
              <label for="noElements">Number of element:</label>
              <input class="form-control" formControlName="noElements" type="number" id="noElements" required>
              <div *ngIf="formErrors.elementnumber" class="form-group has-danger">
                <div class="form-control-feedback" id="noelementserr">{{formErrors.elementnumber}}</div>
              </div>
              <small id="noElementsHelp" class="form-text text-muted"># Elements must be an integer between 2 and 10000 (inclusive)</small>
            </div>
          </div>
          <div class="col col-md-auto">
            <br>
            <i class="material-icons" (click)="addLevel()" style="margin-top: 10px" id="addLevel">add</i>
          </div>
        </div>
      </div>
    </form>

    <br>
    <small>Levels:</small>
    <div *ngFor="let level of levels; let i = index">
      {{levels[i] | json}}
    </div>
    <div *ngIf="formErrors.clusterlevelrequired" class="form-group has-danger">
      <div class="form-control-feedback">{{formErrors.clusterlevelrequired}}</div>
    </div>
  </div>

</div>

<br>

<div *ngIf="hasCluster()" >
  <small >Cluster:</small>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-auto">
        <i class="material-icons" (click)="removeCluster(cluster)" style="margin-bottom: 5px" id="removecluster">remove</i>
      </div>
      <div class="col  col-md-auto">
        <i class="material-icons" (click)="editCluster(cluster)" style="margin-bottom: 5px" id="editcluster">create</i>
      </div>
      <div class="col">
        {{cluster | json}}
      </div>
    </div>
  </div>
</div>
