<div class="container-fluid">
  <div [@fade]="stage" (@fade.start)="startTransition($event)" (@fade.done)="doneTransition($event)">
    <div *ngIf="isInfo()" id="firstcluster">
    <div class="row" *ngIf="!hasCluster()">
      <div class="col">
        <p>
          An independent sampling unit provides one or more observations such that observations from one unit are
          statistically independent from any other distinct unit while observations from the same unit may be correlated.
        </p>
        <p>
          In a clustered design, the independent sampling unit is a cluster, such as a community, school, or classroom.
          Observations within a cluster are correlated. The labels for observations within a cluster must be exchangeable.
          For example, child "ID" within classroom can be reassigned arbitrarily. In contrast, observations across time
          cannot be reassigned and should not be considered clustered observations.
          The common correlation between any pair of cluster members is termed the intraclass correlation or intracluster correlation.
        </p>
        <p>
          To include clustering in the study, click "Add Clustering" and follow the prompts.
        </p>
        <p>
          You may specify up to 10 levels of clustering.
        </p>
      </div>
    </div>
    <div class="row" *ngIf="!hasCluster()">
      <div class="col">
        <div class="btn-group" data-toggle="buttons">
          <label id="includeclusterbtn" class="btn btn-primary">
            <input type="radio" id="includeclusterradio" (click)="includeClusters()">Add Clustering
          </label>
        </div>
      </div>
    </div>
    <br>

    <div *ngIf="hasCluster()" >
      <div class="row">
        <div class="col">
          <app-graph-component [data]="graphData"></app-graph-component>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Levels of clustering within independent sampling unit {{cluster.name}}:</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table" *ngIf="hasLevels()" >
            <thead>
            <th class="col col-md-auto">
              Level Name
            </th>
            <th class="col col-md-auto">
              No. Elements
            </th>
            </thead>
            <tbody>
            <tr [class]="rowStyle(0)">
              <td class="col col-md-auto">
                {{elementForm.get('name').value}}
              </td>
              <td class="col col-md-auto">
                <b>N</b> {{elementForm.get('name').value}}(s) in study
              </td>
            </tr>
            <tr *ngFor="let level of levels; let i = index" [class]="rowStyle(i+1)">
              <td class="col col-md-auto">
                {{level.levelName}}
              </td>
              <td class="col col-md-auto">
                {{levelDescription(level)}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="btn-group" data-toggle="buttons">
            <label id="removeclusterbtn" class="btn btn-sm btn-secondary">
              <input type="radio" id="removeclusterradio" (click)="removeCluster()">Remove Clustering
            </label>
          </div>
          <div class="btn-group" data-toggle="buttons">
            <label id="editclusterbtn" class="btn btn-sm btn-secondary">
              <input type="radio" id="editclusterradio" (click)="editCluster()">Edit Clustering
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div *ngIf="isElementName() || isLevels()">
      <div *ngIf="isElementName()">
        <div class="row">
          <div class="col" id="clustersheader">
            <p>What term would you like to use for the independent sampling unit in the study? (For example, school.)</p>
            <p>All levels of clustering are nested within the independent sampling unit.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form [formGroup]="elementForm" (submit)="addISU()">
              <div class="form-group">
                <input class="form-control"
                       formControlName="name"
                       id="name">
                <div *ngIf="formErrors.cluster && isuAdded" class="form-group has-danger">
                  <div class="form-control-feedback" id="nameerr">{{formErrors.cluster}}</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <form [formGroup]="clusterLevelForm" id="clusterLevelForm" *ngIf="isLevels()">
        <div class="row">
          <div class="col">
            <p>Name each level of clustering within the independent sampling unit, and specify the number of elements each level (e.g. level 1 class has 5 members; level 2 student has 22 members):</p>
            <p>We use <b>N</b> to indicate the total number of independent sampling units and <b>n</b> to indicate the total number of observations.</p>
          </div>
        </div>
        <div class="row">

            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="levelName">Clustering level name:</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input class="form-control" formControlName="levelName" id="levelName">
                  <div *ngIf="formErrors.clusterlevelname && levelAdded"
                       class="form-group has-danger">
                    <div class="form-control-feedback" id="levelnameerr">{{formErrors.clusterlevelname}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="row">
                <div class="col">
                  <label for="noElements">Number of elements:</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input class="form-control" formControlName="noElements" type="number" id="noElements">
                  <div *ngIf="formErrors.elementnumber"
                       class="form-group has-danger">
                    <div *ngIf="clusterLevelForm.get('noElements').dirty && clusterLevelForm.get('noElements').touched"
                         class="form-control-feedback" id="noelementserr">{{formErrors.elementnumber}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <small id="noElementsHelp" class="form-text text-muted"># Elements must be an integer between 2 and 10000 (inclusive)</small>
                </div>
              </div>
            </div>

            <div class="col">
              <br>
              <i class="material-icons"
                 (click)="addLevel()"
                 (keyup.enter)="addLevel()"
                 style="font-size: 2em; padding-top: 0.2em" id="addLevel">add_box</i>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <div *ngIf="formErrors.clusterlevelrequired && clusterLevelForm.get('noElements').dirty && clusterLevelForm.get('noElements').touched" class="form-group has-danger">
              <div class="form-control-feedback">{{formErrors.clusterlevelrequired}}</div>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col">
          <table class="table" *ngIf="hasLevels()  && !isElementName()" >
            <thead>
            <th class="col col-md-auto">
              Level Name
            </th>
            <th class="col col-md-auto">
              No. Elements
            </th>
            <th class="col col-md-auto">
              Remove/Edit
            </th>
            </thead>
            <tbody>
            <tr [class]="rowStyle(0)">
              <td class="col col-md-auto">
                {{elementForm.get('name').value}}
              </td>
              <td class="col col-md-auto">
                <b>N</b> {{elementForm.get('name').value}}(s) in study
              </td>
              <td class="col col-md-auto">
                <i class="material-icons" (click)="editISU()" style="margin-bottom: 5px" id="editISU">edit</i>
              </td>
            </tr>
            <tr *ngFor="let level of levels; let i = index" [class]="rowStyle(i+1)">
              <td class="col col-md-auto">
                {{level.levelName}}
              </td>
              <td class="col col-md-auto">
                {{levelDescription(level)}}
              </td>
              <td class="col col-md-auto">
                <i class="material-icons" (click)="editLevel(level)" style="margin-bottom: 5px" id="editLevel">edit</i>
                <i class="material-icons" (click)="removeLevel(level)" style="margin-bottom: 5px" id="removeLevel">delete_forever</i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()" id="levelscancelbtn">Cancel</button>
          <button *ngIf="isElementName()" type="button" class="btn btn-primary btn-sm" (click)="addISU()" #buttons id="levelsnextbtn" [disabled]="!elementForm.valid">Next: Levels</button>
          <button *ngIf="!isElementName()" class="btn btn-secondary btn-sm" (click)="editISU()" id="spacebackbtn">Back</button>
          <button *ngIf="!isElementName() && !editing" type="button" class="btn btn-primary btn-sm" (click)="addCluster()" #buttons id="finishbtn" [disabled]="!validLevels">Add clustering to study</button>
          <button *ngIf="!isElementName() && editing" type="button" class="btn btn-primary btn-sm" (click)="addCluster()" #buttons id="finisheditbtn" [disabled]="!validLevels">Update clustering</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #canDeactivate>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Clusters Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>

