<div class="container-fluid">
  <div *ngIf="isInfo()" id="firstcluster">
    <div class="row">
      <div class="col">
        <p>
          In a clustered design, the independent sampling unit is a cluster, such as a community, school, or classroom. Observations within a cluster are correlated. The labels for observations within a cluster must be exchangeable. For example, child "id" within classroom can be reassigned arbitrarily. In contrast, observations across time cannot be reassigned and should not be considered clustered observations. Clustering, or repeated measures, or a combination, creates a multilevel design. The common correlation between any pair of cluster members is termed the intraclass correlation or intracluster correlation. <br /><br />

          To include clustering in the study, click "Add Clustering" and follow the prompts. <br /><br />

          You may specify up to 10 levels of clustering. <br /><br />
        </p>
      </div>
    </div>
    <div class="row" *ngIf="!hasCluster()">
      <div class="col">
        <div class="btn-group" data-toggle="buttons">
          <label id="includeclusterbtn" class="btn btn-primary">
            <input type="radio" id="includeclusterradio" (click)="includeClusters()">Add Clustering
          </label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isElementName() || isLevels()">
    <div *ngIf="isElementName()">
      <div class="row">
        <div class="col" id="clustersheader">
          <h6>What term would you like to use for an independent sampling unit in the study? (For example, school.)</h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form [formGroup]="elementForm" (submit)="addISU()">
            <div class="form-group">
              <input class="form-control"
                     formControlName="name"
                     id="name">
              <div *ngIf="formErrors.cluster && isuAdded" class="form-group has-danger">
                <div class="form-control-feedback" id="nameerr">{{formErrors.cluster}}</div>
              </div>
            </div>
          </form>
        </div>
        <div class="col">
          <i class="material-icons"
             (click)="addISU()"
             style="font-size: 2em; padding-top: 0.2em" id="addISU">add_box</i>
        </div>
      </div>
    </div>

    <form [formGroup]="clusterLevelForm" id="clusterLevelForm" *ngIf="isLevels()">
      <div class="row">
        <div class="col">
          <h6>Name each level in the cluster and the number of elements in that level (e.g. level 1: class, level 2: student):</h6>
        </div>
      </div>
      <div class="row">

          <div class="col">
            <div class="row">
              <div class="col">
                <label for="levelName">Clustering level name:</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input class="form-control" formControlName="levelName" id="levelName">
                <div *ngIf="formErrors.clusterlevelname && levelAdded"
                     class="form-group has-danger">
                  <div class="form-control-feedback" id="levelnameerr">{{formErrors.clusterlevelname}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="row">
              <div class="col">
                <label for="noElements">Number of elements:</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input class="form-control" formControlName="noElements" type="number" id="noElements">
                <div *ngIf="formErrors.elementnumber"
                     class="form-group has-danger">
                  <div *ngIf="clusterLevelForm.get('noElements').dirty && clusterLevelForm.get('noElements').touched"
                       class="form-control-feedback" id="noelementserr">{{formErrors.elementnumber}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <small id="noElementsHelp" class="form-text text-muted"># Elements must be an integer between 2 and 10000 (inclusive)</small>
              </div>
            </div>
          </div>

          <div class="col">
            <br>
            <i class="material-icons"
               (click)="addLevel()"
               (keyup.enter)="addLevel()"
               style="font-size: 2em; padding-top: 0.2em" id="addLevel">add_box</i>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <div *ngIf="formErrors.clusterlevelrequired && clusterLevelForm.get('noElements').dirty && clusterLevelForm.get('noElements').touched" class="form-group has-danger">
            <div class="form-control-feedback">{{formErrors.clusterlevelrequired}}</div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <table class="table" *ngIf="hasLevels()" >
          <thead>
          <th class="col col-md-auto">
            Level
          </th>
          <th class="col col-md-auto">
            Level Name
          </th>
          <th class="col col-md-auto">
            No. Elements
          </th>
          <th class="col col-md-auto">
            Remove/Edit
          </th>
          </thead>
          <tbody>
          <tr [class]="rowStyle(0)">
            <td class="col col-md-auto">
              ISU
            </td>
            <td class="col col-md-auto">
              {{elementForm.get('name').value}}
            </td>
            <td class="col col-md-auto">
              <b>N</b> {{elementForm.get('name').value}} in study
            </td>
            <td class="col col-md-auto">
              stuff
            </td>
          </tr>
          <tr *ngFor="let level of levels; let i = index" [class]="rowStyle(i+1)">
            <td class="col col-md-auto">
              {{i + 1}}
            </td>
            <td class="col col-md-auto">
              {{level.levelName}}
            </td>
            <td class="col col-md-auto">
              {{levelDescription(level)}}
            </td>
            <td class="col col-md-auto">
              <i class="material-icons" (click)="removeLevel(level)" style="margin-bottom: 5px" id="removeLevel">delete_forever</i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-secondary btn-sm" (click)="setStage(stages.INFO)" id="levelscancelbtn">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="addCluster()" #buttons id="levelsnextbtn" [disabled]="!validLevels">Finish</button>
      </div>
    </div>
  </div>

  <br>

  <div *ngIf="hasCluster() && isInfo()" >
    <div class="row">
      <div class="col">
        <app-graph-component [data]="graphData"></app-graph-component>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Levels of clustering within independent sampling unit {{cluster.name}}:</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table" *ngIf="hasLevels()" >
          <thead>
          <th class="col col-md-auto">
            Level
          </th>
          <th class="col col-md-auto">
            Level Name
          </th>
          <th class="col col-md-auto">
            No. Elements
          </th>
          </thead>
          <tbody>
          <tr [class]="rowStyle(0)">
            <td class="col col-md-auto">
              ISU
            </td>
            <td class="col col-md-auto">
              {{elementForm.get('name').value}}
            </td>
            <td class="col col-md-auto">
              <b>N</b> {{elementForm.get('name').value}} in study
            </td>
          </tr>
          <tr *ngFor="let level of levels; let i = index" [class]="rowStyle(i+1)">
            <td class="col col-md-auto">
              {{i + 1}}
            </td>
            <td class="col col-md-auto">
              {{level.levelName}}
            </td>
            <td class="col col-md-auto">
              {{levelDescription(level)}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="btn-group" data-toggle="buttons">
          <label id="removeclusterbtn" class="btn btn-sm btn-secondary">
            <input type="radio" id="removeclusterradio" (click)="removeCluster()">Remove Clustering
          </label>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label id="editclusterbtn" class="btn btn-sm btn-secondary">
            <input type="radio" id="editclusterradio" (click)="editCluster()">Edit Clustering
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #canDeactivate>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Clusters Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
