<div class="row">
  <div class="col"><p>
    Enter the standard deviation you expect to observe for each outcome.
  </p></div>
</div>
<div class="row">
  <div class="col">
    <form [formGroup]="stDevForm">
      <div *ngFor="let outcome of isuFactors.outcomes" class="row">
        <div class="col-1" >
          {{outcome.name}}:
        </div>
        <div class="col-9 justify-content-start">
          <input type="number" class="form-control" id="{{outcome.name}}" formControlName="{{outcome.name}}" value="{{outcome.standardDeviation}}" required>
        </div>
      </div>
      <div *ngIf="formErrors.vectorofstandarddeviations" class="form-group has-danger">
        <div class="form-control-feedback">{{formErrors.vectorofstandarddeviations}}</div>
      </div>
    </form>
  </div>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Variability across Outcomes Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>Help text goes here</p>
    </div>
    <div class="modal-footer"> footer text</div>
  </div>
</ng-template>
