<div class="row">
  <div class="col"><p>
    Enter the standard deviation you expect to observe for each outcome.
  </p></div>
</div>
<form [formGroup]="stDevForm">
  <div *ngFor="let outcome of isuFactors.outcomes" class="row">
    <div class="col col-md-auto align-self-center" >
      {{outcome.name}}:
    </div>
    <div class="col col-md-auto align-self-center">
      <input type="number" class="form-control" id="{{outcome.name}}" formControlName="{{outcome.name}}" value="{{outcome.standardDeviation}}" required>
    </div>
  </div>
  <div *ngIf="formErrors.vectorofstandarddeviations" class="form-group has-danger">
    <div class="form-control-feedback">{{formErrors.vectorofstandarddeviations}}</div>
  </div>
</form>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Variability across Outcomes Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>Help text goes here</p>
    </div>
    <div class="modal-footer"> footer text</div>
  </div>
</ng-template>
