<div class="row">
  <div class="col"><p>
    Enter the standard deviation you expect to observe for each outcome.
  </p></div>
</div>
<form [formGroup]="stDevForm">
  <table class="table-responsive">
    <thead>
      <th style="border-bottom: 2px solid #3c4043; border-right: 2px solid #3c4043; padding-right: 5px;">Outcome</th>
      <th style="border-bottom: 2px solid #3c4043;">Standard Deviation</th>
    </thead>
    <tbody>
      <tr *ngFor="let outcome of isuFactors.outcomes">
        <td style="border-right: 2px solid #3c4043; padding-right: 5px; text-align: center">
          {{outcome.name}}
        </td>
        <td>
          <input type="number"
                 class="form-control matrix-input-control"
                 placeholder=" "
                 id="{{outcome.name}}"
                 formControlName="{{outcome.name}}"
                 value="{{outcome.standardDeviation}}"
                 step="0.1">
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!stDevForm.valid" class="form-group has-danger">
    <div class="form-control-feedback">You must define an expected standard deviation for each outcome.</div>
  </div>
</form>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Variability across Outcomes Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
