<div class="row">
  <p>
    A hypothesis compares parameters to a constant, the contrast comparison constant (&Theta;<sub>0</sub>). This is almost always zero. If you choose a value other than zero, be sure that you understand that the hypothesis you define is scientifically meaningful. Also note that the description and interpretation of your hypothesis given when choosing your contrasts will be affected.  </p>
</div>
<div *ngIf="!visible" class="row">
  <i class="material-icons" (click)="toggleVisible()" style="margin-top: 10px" id="showtheta0">expand_more</i>
</div>
<div *ngIf="visible" class="row">
  <i class="material-icons" (click)="toggleVisible()" style="margin-top: 10px" id="hidetheta0">expand_less</i>
</div>
<div *ngIf="visible" class="row">
  <form [formGroup]="theta0Form" id="theta0Form" class="matrix-input-brackets">
      <div class="col col-md-auto">
        <table>
          <thead>
          </thead>
          <tbody>
          <tr *ngFor="let row of isuFactors.theta0; index as rownum;" id={{rownum}}>
            <td *ngFor="let col of row; index as colnum;" id="col{{rownum}}-{{colnum}}">
              <input type="number"
                     class="form-control matrix-input-control"
                     formControlName="{{rownum}}-{{colnum}}"
                     id="{{rownum}}-{{colnum}}">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
  </form>
</div>

<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Theta 0 Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <p>Help text goes here</p>
    </div>
    <div class="modal-footer"> footer text</div>
  </div>
</ng-template>
