<div [@fade]="stage" (@fade.start)="startTransition($event)" (@fade.done)="doneTransition($event)">

  <div *ngIf="isInfo()">

    <div class="row">
      <div class="col">
        <p>
          GLIMMPSE allows you to define within-participant factors, specified as repeated measures.
          Repeated measures are present when a response variable is measured on each independent sampling
          unit on two or more occasions or under two or more conditions.
          The values of the repeated measures (that is, the levels of the within-participant factors)
          distinguish the occasions or conditions.
        </p>
        <p>
          If the study includes repeated measures, click "Add Repeated Measure" and follow the prompts.
        </p>
        <p>
          You may specify up to {{max}} repeated measures.
        </p>
        <p *ngIf="hasRepeatedMeasures() &&  nextRepeatedMeasure()">
          Would you like to add another set of repeated measurements?
        </p>
      </div>
    </div>

    <div *ngIf="!hasRepeatedMeasures()" id="firstrepmeasure">
      <div class="row">
        <div class="col">
          <div class="btn-group" data-toggle="buttons">
            <label id="includerptmeasuresbtn" class="btn btn-primary" (click)="includeRepeatedMeasures()" for="includerptmeasuresradio">
              <input type="radio" id="includerptmeasuresradio" (click)="includeRepeatedMeasures()">Add Repeated Measure
            </label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="nextRepeatedMeasure()" id="nextrepmeasure">
      <div class="row">
        <div class="col">
          <div class="btn-group" data-toggle="buttons">
            <label for="includenextrptmeasuresradio" id="includenextrptmeasuresbtn" class="btn btn-primary" (click)="includeRepeatedMeasures()">
              <input type="radio" id="includenextrptmeasuresradio" (click)="includeRepeatedMeasures()">Add Repeated Measure
            </label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="hasRepeatedMeasures() && !nextRepeatedMeasure()" id="fullrepmeasure">
      <p>You have specified the maximum number of repeated measure dimensions.</p>
    </div>
  </div>

  <div *ngIf="isDimensions()">
    <div id="dimensionsheader">
      <p>What is the name of the dimension you will be measuring and in what units (if applicable) is it measured?</p>
      <p>The text entered in the "Dimension" text box indicates the dimension over which measures
        were taken (e.g. time, days, locations, etc.). The choice of "Type" indicates whether the
        repeated measures are numeric (e.g. time), or categorical (e.g. arm, leg, hand). </p>
    </div>
    <form [formGroup]="dimensionForm">
      <div class="form-group">
        <label for="dimension">Dimension:</label>
        <input class="form-control" formControlName="dimension" id="dimension" placeholder="Enter the name of the dimension for this repeated measure (time, scenarios, etc.)">
        <div *ngIf="!dimensionForm.valid" class="form-group has-danger">
          <div class="form-control-feedback" id="outcomeserr">You must choose a name for the dimension you are measuring.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="units">Unit (if applicable):</label>
        <input class="form-control" formControlName="units" id="units">
      </div>
    </form>
    <button class="btn btn-secondary btn-sm" (click)="setStage(stages.INFO)" id="dimcancelbtn">Cancel</button>
    <button class="btn btn-primary btn-sm" (click)="setStage(stages.TYPE)"   id="dimnextbtn" [ngClass]="{disabled : !this.dimensionForm.valid }">Next: Type</button>
  </div>

  <div *ngIf="isType()">
    <div id="typeheader">
      <h6>What type of data is {{dimensionForm.value.dimension}}?</h6>
      <form [formGroup]="typeForm" id="type">
        <div class="form-group">
          <div class="btn-group" data-toggle="buttons" *ngFor="let t of types; let i = index">
            <label aria-pressed="true" class="btn btn-secondary" [class.active]="typeSelected(t)" id="{{types[i]}}">
              <input type="radio" id="nominal" (click)="selectType(t)" > {{t}}
            </label>
          </div>
        </div>
      </form>
    </div>
    <button class="btn btn-secondary btn-sm" (click)="setStage(stages.INFO)" id="typecancelbtn">Cancel</button>
    <button class="btn btn-secondary btn-sm" (click)="setStage(stages.DIMENSIONS)" id="typebackbtn">Back</button>
    <button class="btn btn-primary btn-sm" (click)="setStage(stages.REPEATS)" id="typenextbtn" [disabled]="!this.typeForm.valid">Next: No. Measurements</button>
  </div>

  <div *ngIf="isRepeats()">
    <div id="repeatesheader">
      <div class="row">
        <h6>Number of measurements of {{dimensionForm.value.dimension}}?</h6>
      </div>
      <div class="row">
        <div class="col-md-auto">
          <form [formGroup]="repeatsForm">
            <div class="form-group" id="repeatsinput">
              <input type="number"
                     class="form-control"
                     id="repeats"
                     aria-describedby="repeatshelp"
                     placeholder="Choose a number from 2 -> 10"
                     formControlName="repeats"
                     step="1"
                     required>
              <div *ngIf="formErrors.repeatsform"
                   class="form-group has-danger">
                <div class="form-control-feedback">{{formErrors.repeatsform}}</div>
              </div>
              <small id="repeatshelp" class="form-text text-muted">You must have between 2 and 10 repeats (inclusive)</small>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="row">
      <button class="btn btn-secondary btn-sm" (click)="setStage(stages.INFO)" id="repcancelbtn">Cancel</button>
      <button class="btn btn-secondary btn-sm" (click)="setStage(stages.TYPE)" id="repbackbtn">Back</button>
      <button class="btn btn-primary btn-sm" (click)="setStage(stages.SPACING)"   id="repnextbtn" [ngClass]="{disabled : !this.repeatsForm.valid }">Next: Spacing</button>
    </div>
  </div>

  <div *ngIf="isSpacing()">
    <div id="spacingheader">
      <h6>Spacing</h6>
      <p>If the repeated measures are numeric, the spacing values must be unique nonnegative integers, in ascending order.</p>
      <form [formGroup]="spacingForm">
        <div class="row">
          <div class="col">
            <div class="btn-group-sm" data-toggle="buttons">
              <label aria-pressed="true" class="btn btn-secondary btn-sm" [class.active]="!isAutoFill()" id="manualfillbtn">
                <input type="radio" id="manualfillradio" (click)="selectManual()">Set values myself
              </label>
              <label aria-pressed="true" class="btn btn-secondary btn-sm" [class.active]="isAutoFill()" id="autofillbtn">
                <input type="radio" id="autofillradio" (click)="selectAutoFill()"> Select values by series
              </label>
            </div>
          </div>
        </div>
        <br>
        <div>

          <div *ngIf="!isAutoFill()">
            <div class="form-group" id="spacinginput" *ngFor="let space of spacingControlNames">
              <div class="row">
                <div class="col col-lg-3 col-md-4 col-sm-12 col-xs-12">
                  Measurement #{{space + 1}} at
                </div>
                <div class="col col-lg-2 col-md-4 col-sm-12 col-xs-12">
                  <input [type]="spacingInputType()" class="form-control" id="spacing-{{space}}" aria-describedby="spacinghelp" formControlName="{{space}}" step="1" required>
                  <div *ngIf="formErrors.valueNames" class="form-group has-danger">
                    <div class="form-control-feedback">{{formErrors.valueNames}}</div>
                  </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  {{dimensionForm.value.units}}
                </div>
              </div>
            </div>
            <div *ngIf="formErrors.space" class="form-group has-danger">
              <div class="form-control-feedback">{{formErrors.space}}</div>
            </div>
          </div>

          <div *ngIf="isAutoFill()">
            <div class="row">
              <div class="col">
                <h6>Choose value for your first measurement and the interval at which further measurements will be taken.</h6>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="first">First measurement:</label>
              </div>
              <div class="col col-lg-2 col-md-6 col-sm-12 col-xs-12">
                <input type="number" id="first" class="form-control" formControlName="first">
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <label for="interval">Interval:</label>
              </div>
              <div class="col col-lg-2 col-md-6 col-sm-12 col-xs-12">
                <input type="number" id="interval" class="form-control" formControlName="interval">
              </div>
            </div>
          </div>

          <br>
        </div>
      </form>
    </div>
    <button class="btn btn-secondary btn-sm" (click)="setStage(stages.INFO)" id="spacecancelbtn">Cancel</button>
    <button class="btn btn-secondary btn-sm" (click)="setStage(stages.REPEATS)" id="spacebackbtn">Back</button>
    <button *ngIf="isAutoFill()" class="btn btn-primary btn-sm" (click)="autoFill()">Fill values</button>
    <button *ngIf="!isAutoFill()" class="btn btn-primary btn-sm" (click)="addRepeatedMeasure()" id="spacenextbtn" [disabled]="!this.spacingForm.valid">Add repeated measure to study</button>
  </div>
</div>


<div *ngIf="hasRepeatedMeasures()">
  <br>
  <br>
        <table class="table">
          <thead>

          <th class="col col-md-auto">
            Repeated Measure Dimension
          </th>
          <th class="col col-md-auto">
            Type
          </th>
          <th class="col col-md-auto">
            Units
          </th>
          <th class="col col-md-auto">
            Measurements
          </th>
          <th class="col  col-md-auto">
            Edit
          </th>
          <th class="col col-md-auto">
            Remove
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let repeatedMeasure of repeatedMeasures; let i = index" [class]="rowStyle(i)">
            <td class="col col-md-auto" data-label="Dimension">
              {{repeatedMeasure.name}}
            </td>
            <td class="col col-md-auto" data-label="Type">
              {{repeatedMeasure.type}}
            </td>
            <td class="col col-md-auto" data-label="Units">
              {{repeatedMeasure.units}}
            </td>
            <td class="col col-md-auto" data-label="Groups">
              {{repeatedMeasure.valueNames | json}}
            </td>
            <td class="col  col-md-auto" data-label="Edit">
              <i class="material-icons" (click)="editRepeatedMeasure(repeatedMeasure)" style="margin-bottom: 5px" id="editrepeatedMeasure">create</i>
            </td>
            <td class="col col-md-auto" data-label="Remove">
              <i class="material-icons" (click)="removeRepeatedMeasure(repeatedMeasure)" style="margin-bottom: 5px" id="removerepeatedMeasure">delete_forever</i>
            </td>
          </tr>
          </tbody>
        </table>
</div>


<ng-template #canDeactivate>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Repeated Measures Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
