<div>
  <div class="container-fluid">
    <div class="row" [@fade]="stage" (@fade.start)="startTransition($event)" (@fade.done)="doneTransition($event)" >

      <div *ngIf="isStage(stages.INFO)" >
        <div class="col">
          <h5  *ngIf="!hasPredictors()">Do you have any Between ISU Factors?</h5>
          <h5 *ngIf="hasPredictors()">Would you like to add another Predictor?</h5>
          <div>
            <p>
              GLIMMPSE allows you to define between-participant factors, specified as fixed predictors. The values of the fixed predictors (that is, the levels of the between-participant factors) divide the independent sampling units into groups. The choice of study design determines the fixed predictors and their values. One common example of a fixed predictor is treatment, with values placebo and active, for which the independent sampling unit is randomized to a placebo group or an active drug group. Another is gender, with values male and female, for which the independent sampling unit is randomized to a male group or a female group.
            </p>
          </div>
        </div>
        <div class="col">
          <button id="addbetweenbtn" (click)="includePredictors()" class="btn btn-primary">Define Between ISU Factor</button>
          <p>
            If your design has no between-participant factors, don't define any predictors.
          </p>
        </div>
      </div>

      <div *ngIf="isStage(stages.NAME)">
        <h5>Defining Predictor:</h5>
        <form [formGroup]="predictorForm" id="predictorForm">
          <div class="container-fluid">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <h6>Name your predictor:</h6>
                </div>
                <div class="col">
                  <input class="form-control" formControlName="predictorName">
                </div>
              </div>
            </div>
            <div *ngIf="formErrors.predictorform" class="form-group has-danger">
              <div class="form-control-feedback">{{formErrors.predictorform}}</div>
            </div>
          </div>
        </form>
        <div class="row" *ngIf="stage > 0">
          <div class="col">
            <div class = "btn-group-sm">
              <button id="cancelbetweenbtn" (click)="cancelPredictor()" class="btn btn-danger btn-sm">Cancel</button>
              <button id="addnamebtn"  (click)="addName()" class="btn btn-primary btn-sm"> Next: Data Type </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isStage(stages.TYPE)">
        <h5>Defining Predictor:</h5>
        <div id="type">
          <h6>What type of data is {{predictorForm.value.predictorName}}?</h6>
            <div class="form-group">
              <div class="btn-group" data-toggle="buttons">
                <label aria-pressed="true" class="btn btn-secondary" [class.active]="isNominal()" id="nominalbtn">
                  <input type="radio" id="nominal" (click)="selectNominal()"> Nominal
                </label>
                <label class="btn btn-secondary" aria-pressed="true" [class.active]="isOrdinal()" id="ordinalbtn">
                  <input type="radio" id="ordinal" (click)="selectOrdinal()"> Ordinal
                </label>
                <label class="btn btn-secondary" aria-pressed="true" [class.active]="isContinuous()" id="continuousbtn">
                  <input type="radio" id="continuous" (click)="selectContinuous()"> Continuous
                </label>
              </div>
            </div>
        </div>
        <div class="row" *ngIf="stage > 0">
          <div class = "col">
            <div class="btn-group-sm">
              <button id="canceltypebtn" (click)="cancelPredictor()" class="btn btn-danger btn-sm">Cancel</button>
              <button id="addnamebackbtn"  (click)="includePredictors()" class="btn btn-secondary btn-sm"> Back: Data Type </button>
              <button id="addtypebtn"  (click)="addType()" class="btn btn-primary btn-sm">Next: Groups</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isStage(stages.GROUPS)">
        <h5>Defining Predictor:</h5>
        <form [formGroup]="groupsForm" id="groupsForm">
          <div class="container-fluid">
            <div class="row">
              <div class="col" *ngIf="!isOrdinal()">
                <h6>Which units is {{predictorForm.value.predictorName}} measured in?</h6>
              </div>
              <div class="col" *ngIf="!isOrdinal()">
                <input class="form-control" formControlName="units" (keyup.enter)="addGroup()" id="units">
              </div>
              <div class="col"></div>
            </div>
            <div class="row" *ngIf="firstGroup() || nextGroup()">
              <div class="col">
                <h6>Name at least two groups:</h6>
              </div>
              <div class="col">
                <input class="form-control" formControlName="group" (keyup.enter)="addGroup()" id="group">
              </div>
              <div class="col">
                <i class="material-icons" (click)="addGroup()" style="margin-top: 10px" id="addgroup">add</i>
              </div>
            </div>
            <br>
            <small *ngIf="!firstGroup()">Outcomes:</small>
            <div *ngFor="let grp of groups" id="grouplist">
              <div class="container-fluid">
                <div class="row">
                  <div class="col col-md-auto">
                    <i class="material-icons" (click)="removeGroup(grp)" style="margin-bottom: 5px" id="removegroup">remove</i>
                  </div>
                  <div class="col">
                    {{grp}}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="formErrors.groupsformtwogroups" class="form-group has-danger">
              <div class="form-control-feedback">{{formErrors.groupsformtwogroups}}</div>
            </div>
          </div>
        </form>

        <div class="row" *ngIf="stage > 0">
          <div class = "col">
            <div class="btn-group-sm">
              <button id="cancelpredictorbtn" (click)="cancelPredictor()" class="btn btn-danger btn-sm">Cancel</button>
              <button id="addtypebackbtn"  (click)="addName()" class="btn btn-primary btn-sm">Back: Type</button>
              <button id="addpredictorbtn"  (click)="addPredictor()" class="btn btn-primary btn-sm">Add Predictor</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="!nextPredictors()" id="maxPredictors">
  <h5>Maximum number of BetweenISU predictors for GLIMMPSE added.</h5>
</div>

<div *ngIf="hasPredictors()">
  <br>
  <small>Between ISU Predictors:</small>
  <div *ngFor="let predictor of betweenIsuPredictors; let i = index">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-md-auto">
          <i class="material-icons" (click)="removePredictor(predictor)" style="margin-bottom: 5px" id="removepredictor">remove</i>
        </div>
        <div class="col  col-md-auto">
          <i class="material-icons" (click)="editPredictor(predictor)" style="margin-bottom: 5px" id="editpredictor">create</i>
        </div>
        <div class="col">
          {{predictor | json}}
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">

      <span aria-hidden="true">×</span>

    </button> </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
