<div class="container-fluid">
  <div class="row" [@fade]="stage" (@fade.start)="startTransition($event)" (@fade.done)="doneTransition($event)" >

    <div *ngIf="isStage(stages.INFO)" >
      <div class="col">
        <p>
          Each independent sampling unit has one or more observations which are statistically
          independent from observations from any other unit.
        </p>
        <p>
          GLIMMPSE allows you to define fixed predictors which divide the independent
          sampling unit into groups. One common example of a fixed predictor is treatment, with values placebo and drug, for which the independent sampling unit is randomized to a placebo group or a drug group. Another is gender, with values male or female.
        </p>
        <p>
          If the design has no fixed predictors, do not define any here.
        </p>
        <p class="warning" *ngIf="twoOrMore">
          The design you’ve described, means that every level of <b>{{secondPredictorName}}</b> occurs at every level of
          <b>{{firstPredictorName}}</b>. This concept applies to every combination of fixed predictors.
        </p>
      </div>
      <div class="col">
        <button id="addbetweenbtn" (click)="includePredictors()" class="btn btn-primary">Define Fixed Predictor</button>
      </div>
    </div>

    <div *ngIf="isStage(stages.NAME)">
      <div class="col">
        <form [formGroup]="predictorForm" id="predictorForm">
          <div class="row h-100">
            <div class="col h-100">
              <p class="align-middle">Please name the predictor:</p>
            </div>
            <div class="col">
              <input class="form-control" formControlName="predictorName" (keyup.enter)="addName()">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div *ngIf="formErrors.predictorform" class="form-group has-danger">
                <div class="form-control-feedback">{{formErrors.predictorform}}</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="stage > 0">
            <div class="col">
              <div class = "btn-group-sm">
                <button type="button" id="cancelbetweenbtn" (click)="cancelPredictor()" class="btn btn-secondary btn-sm">Cancel</button>
                <button type="button" id="addnamebtn"  (click)="addName()" class="btn btn-primary btn-sm" [disabled]="predictorForm.status === 'INVALID'"> Next: Data Type </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="isStage(stages.TYPE)">
      <div id="type" class="col">
        <p>What type of data is {{predictorForm.value.predictorName}}?</p>
        <div class="form-group">
          <div class="btn-group" data-toggle="buttons">
            <label aria-pressed="true" class="btn btn-secondary" [class.active]="isNominal()" id="nominalbtn">
              <input type="radio" id="nominal" (click)="selectNominal()" > Nominal
            </label>
            <label class="btn btn-secondary" aria-pressed="true" [class.active]="isContinuous()"  id="continuousbtn">
              <input type="radio" id="continuous" (click)="selectContinuous()"> Continuous
            </label>
          </div>
        </div>
        <div class="btn-group-sm">
          <button type="button" id="canceltypebtn"  (click)="cancelPredictor()" class="btn btn-secondary btn-sm">Cancel</button>
          <button type="button" id="addnamebackbtn"  (click)="includePredictors()" class="btn btn-secondary btn-sm"> Back: Data Type </button>
          <button type="submit" id="addtypebtn"  (click)="addType()" class="btn btn-primary btn-sm">Next: Groups</button>
        </div>
      </div>
    </div>

    <div *ngIf="isStage(stages.GROUPS)">
      <div class="col">
        <form [formGroup]="groupsForm" id="groupsForm">
          <div class="row">
            <div class="col" *ngIf="isContinuous()">
              <p>Which unit is {{predictorForm.value.predictorName}} measured in?</p>
            </div>
            <div class="col" *ngIf="isContinuous()">
              <input class="form-control" formControlName="units" (keyup.enter)="addGroup()" id="units">
            </div>
            <div class="col"></div>
          </div>
          <div class="row" *ngIf="firstGroup() || nextGroup()">
            <div class="col">
              <p>Please name at least two groups:</p>
            </div>
            <div class="col">
              <input class="form-control" formControlName="group" (keyup.enter)="addGroup()" id="group">
            </div>
            <div class="col">
              <i class="material-icons" (click)="addGroup()" style="font-size: 2em; padding-top: 0.2em" id="addgroup">add_box</i>
            </div>
          </div>
          <br>
          <h6 *ngIf="!firstGroup()">Groups:</h6>
          <div *ngFor="let grp of groups" id="grouplist">
            <div class="row">
              <div class="col col-md-auto">
                <i class="material-icons" (click)="removeGroup(grp)" style="margin-bottom: 5px" id="removegroup">delete_forever</i>
              </div>
              <div class="col">
                {{grp}}
              </div>
            </div>
          </div>
          <div *ngIf="formErrors.groupsformtwogroups" class="form-group has-danger">
            <div class="form-control-feedback">{{formErrors.groupsformtwogroups}}</div>
          </div>
        </form>

        <div class="row" *ngIf="stage > 0">
          <div class = "col">
            <div class="btn-group-sm">
              <button type="button" id="cancelpredictorbtn" (click)="cancelPredictor()" class="btn btn-secondary btn-sm">Cancel</button>
              <button type="button" id="addtypebackbtn"  (click)="addName()" class="btn btn-secondary btn-sm">Back: Type</button>
              <button type="submit" *ngIf="!editing" id="addpredictorbtn"  (click)="addPredictor()" (keyup.enter)="addPredictor()" class="btn btn-primary btn-sm" [disabled]="!groupsValid()">Add predictor to study</button>
              <button type="submit" *ngIf="editing" id="updatepredictorbtn"  (click)="addPredictor()" (keyup.enter)="addPredictor()" class="btn btn-primary btn-sm" [disabled]="!groupsValid()">Update predictor</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="!nextPredictors()" id="maxPredictors">
      <h6>Maximum number of fixed predictors for GLIMMPSE added.</h6>
    </div>

  </div>



  <div class="row">
    <div class="col" *ngIf="hasPredictors() && isStage(stages.INFO)">
    <br>
      <h6> <b> Fixed Predictors</b> </h6>
        <table class="table">
          <thead>
          <th class="col col-md-auto">
            Name
          </th>
          <th class="col col-md-auto">
            Type
          </th>
          <th class="col col-md-auto">
            Units
          </th>
          <th class="col col-md-auto">
            Groups
          </th>
          <th class="col col-md-auto">
            Remove
          </th>
          <th class="col  col-md-auto">
            Edit
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let predictor of betweenIsuPredictors; let i = index" [class]="rowStyle(i)">
            <td class="col col-md-auto" data-label="Name">
              {{predictor.name}}
            </td>
            <td class="col col-md-auto" data-label="Type">
              {{predictor.type}}
            </td>
            <td class="col col-md-auto" data-label="Units">
              {{predictor.units}}
            </td>
            <td class="col col-md-auto" data-label="Groups">
              {{predictor.valueNames | json}}
            </td>
            <td class="col col-md-auto" data-label="Remove">
              <i class="material-icons" (click)="removePredictor(predictor)" style="margin-bottom: 5px" id="removepredictor">delete_forever</i>
            </td>
            <td class="col  col-md-auto" data-label="Edit">
              <i class="material-icons" (click)="editPredictor(predictor)" style="margin-bottom: 5px" id="editpredictor">create</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #canDeactivate>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">

      <i class="material-icons">close</i>

    </button> </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Predictors Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
