<h5> Power Calculation Method </h5>
<div>
  <p>
    For designs including a baseline covariate, two methods are available to calculate power: unconditional power and quantile power. One can think of the random covariate values as having been sampled from a normal distribution. Thus there are many possible realizations of the same experiment, and each realization may have a different power. The unconditional power is defined as the average of the possible power values (Gatsonis and Sampson, 1989; Glueck and Muller, 2003). The 100 x vth quantile power is the power value chosen so that power as small or smaller occurs in 100 x v percent of all possible realizations of the experiment. <br /><br />

    For a detailed description of unconditional and quantile power, please see <a href="https://www.ncbi.nlm.nih.gov/pubmed/2813654" target="_blank"> Gatsonis and Sampson (1989)</a> and <a href="https://www.ncbi.nlm.nih.gov/pubmed/12898543" target="_blank"> Glueck and Muller (2003)</a>. <br /><br />

    Note that selecting unconditional power may result in very long computation times, especially if you are solving for sample size.
  </p>
</div>
<h5>Choose power mode:</h5>
<div class="btn-group" data-toggle="buttons">
  <label aria-pressed="true" class="btn btn-primary" [class.active]="unconditional" id="unconditionalbtn">
    <input type="radio" id="UNCONDITIONAL" (click)="selectUnconditional()"> UNCONDITIONAL
  </label>
  <label class="btn btn-primary" aria-pressed="true" [class.active]="!unconditional" id="quantilebtn">
    <input type="radio" id="QUANTILE" (click)="selectQuantile()"> QUANTILE
  </label>
</div>
<div>
  <p *ngIf="unconditional" id="quantiledesc">
    Unconditional Power!!
  </p>
  <p *ngIf="!unconditional" id="unconditionaldesc">
    Quantile Power!
  </p>
</div>
