<fieldset>
<h5>Choose design mode:</h5>
<div class="btn-group" data-toggle="buttons">
  <label aria-pressed="true" class="btn btn-primary" [class.active]="guided">
    <input type="radio" id="GUIDED" (click)="selectGuided()"> Guided Mode
  </label>
  <label class="btn btn-primary" aria-pressed="true" [class.active]="!guided">
    <input type="radio" id="FLEXIBLE" (click)="selectFlex()"> Flexible Mode
  </label>
</div>
<div>
  <p *ngIf="!guided">
    Enter the features of your study design in any order you choose.
  </p>
  <p *ngIf="guided">
    Let us walk you through the steps to design your study.
  </p>
</div>
</fieldset>
