<br>
<div style="vertical-align: middle"
     (swipeRight)="onSwipeRight($event)"
     (swipeLeft)="onSwipeLeft($event)">
  <div class="d-block d-sm-none">
    <div class="d-flex align-items-center">
      <div class="mr-auto p-1 align-self-center no-div-highlight"
           (mouseenter)="mouseEnterBack('div a')"
           (mouseleave)="mouseLeaveBack('div A')">
        <i class="material-icons"
           *ngIf="!isInternal && hasBack"
           (click)="back()"
           (keyup.ArrowLeft)="back()"
           style="opacity: 0.2; font-size: 48px;"
           id="navigate_before_mob">navigate_before</i>
      </div>
      <div class="mr-auto p-1 align-self-center no-div-highlight"
           (mouseenter)="mouseEnterNext('div a')"
           (mouseleave)="mouseLeaveNext('div A')">
        <i class="material-icons"
           *ngIf="!isInternal && hasNext"
           (click)="next()"
           (keyup.ArrowRight)="next()"
           style="opacity: 0.2; font-size: 48px;"
           id="navigate_next_mob"
           [class.disabled]="!valid$ | async" [@validInvalidMob]="valid? 'valid' : 'invalid'">navigate_next</i>
      </div>

        <div *ngIf="getStage() < 9"
             class="p-1"
             matTooltip="progress"
             [matTooltipShowDelay]="showDelay"
             [matTooltipPosition]="below">
          <mat-icon svgIcon="aperture_0" (click)="showStatus()"></mat-icon>
        </div>
        <div *ngIf="getStage() > 8 && getStage() < 13" class="p-1  "matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <mat-icon svgIcon="aperture_1" (click)="showStatus()"></mat-icon>
        </div>
        <div *ngIf="getStage() > 12 && getStage() < 16" class="p-1  "matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <mat-icon svgIcon="aperture_2" (click)="showStatus()"></mat-icon>
        </div>
        <div *ngIf="getStage() > 15 && getStage() < 28" class="p-1  "matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <mat-icon svgIcon="aperture_3" (click)="showStatus()"></mat-icon>
        </div>
        <div *ngIf="getStage() === 28" class="p-1  "matTooltip="progress"  [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <mat-icon svgIcon="aperture_4" (click)="showStatus()"></mat-icon>
        </div>
        <div *ngIf="getStage() === 29" class="p-1  "matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <mat-icon svgIcon="aperture_5" (click)="showStatus()"></mat-icon>
        </div>
        <div class="p-1"  matTooltip="help" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <mat-icon (click)="toggleHelpText()">help_outline</mat-icon>
        </div>
        <div class="p-1"  matTooltip="help" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <mat-icon (click)="toggleHelpText()">save_alt</mat-icon>
        </div>
        <div class="p-1"  matTooltip="home" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
          <a href="#" style="padding: 0px; color: #3c4043;">
            <mat-icon >home</mat-icon>
          </a>
        </div>
    </div>
  </div>
  <div class="d-none d-sm-block">
    <div class="row">
      <div class="col-xl-6 col-lg-4 col-md-5 col-sm-6 col-xs-1 justify-content-start">
        <h6>
          {{getStudyName()}}: {{getCurrentStageName()}}
        </h6>
      </div>
      <div class="col-xl-6 col-lg-8 col-md-7 col-sm-6 col-xs-1">
        <div class="row justify-content-end">
          <div class="d-none d-lg-block d-xl-block nav-text no-div-highlight" (click)="showStatus()">Progress</div>
          <div *ngIf="getStage() < 9" class="col-1 fix-icon-col-width no-div-highlight" matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon svgIcon="aperture_0" (click)="showStatus()"></mat-icon>
          </div>
          <div *ngIf="getStage() > 8 && getStage() < 13" class="col-1 fix-icon-col-width no-div-highlight"   matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon svgIcon="aperture_1" (click)="showStatus()"></mat-icon>
          </div>
          <div *ngIf="getStage() > 12 && getStage() < 16" class="col-1 fix-icon-col-width no-div-highlight"   matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon svgIcon="aperture_2" (click)="showStatus()"></mat-icon>
          </div>
          <div *ngIf="getStage() > 15 && getStage() < 28" class="col-1 fix-icon-col-width no-div-highlight"   matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon svgIcon="aperture_3" (click)="showStatus()"></mat-icon>
          </div>
          <div *ngIf="getStage() === 28" class="col-1 fix-icon-col-width no-div-highlight"   matTooltip="progress"  [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon svgIcon="aperture_4" (click)="showStatus()"></mat-icon>
          </div>
          <div *ngIf="getStage() === 29" class="col-1 fix-icon-col-width no-div-highlight"   matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon svgIcon="aperture_5" (click)="showStatus()"></mat-icon>
          </div>
          <div class="d-none d-lg-block d-xl-block  nav-text no-div-highlight" (click)="toggleHelpText()">Help</div>
          <div class="col-1 fix-icon-col-width no-div-highlight"  matTooltip="help" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon (click)="toggleHelpText()">help_outline</mat-icon>
          </div>
          <div class="d-none d-lg-block d-xl-block  nav-text no-div-highlight" (click)="download()">Save</div>
          <div class="col-1 fix-icon-col-width no-div-highlight"  matTooltip="save design" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <mat-icon id="downloadbtn" (click)="download()">save_alt</mat-icon>
          </div>
          <div class="d-none d-lg-block d-xl-block no-div-highlight"><a href="#" class="nav-text" style="text-decoration: none;">Home</a></div>
          <div class="col-1 fix-icon-col-width no-div-highlight"  matTooltip="home" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
            <a href="#" style="padding: 0px; color: #3c4043;">
              <mat-icon id="homebtn">home</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 2px;">
  <div class="row align-items-start">
    <div class="col-2 justify-content-start d-none d-sm-block no-div-highlight"
         (mouseenter)="mouseEnterBack('div a')"
         (mouseleave)="mouseLeaveBack('div A')">
      <i class="material-icons"
         *ngIf="!isInternal && hasBack"
         (click)="back()"
         (keyup.ArrowLeft)="back()"
         style="  font-size: 92px;
                  opacity: 0.2;"
         id="navigate_before">navigate_before</i>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="col-2 justify-content-end d-none d-sm-block no-div-highlight"
         (mouseenter)="mouseEnterNext('div a')"
         (mouseleave)="mouseLeaveNext('div A')">
      <i class="material-icons"
         *ngIf="!isInternal && hasNext"
         (click)="next()"
         (keyup.ArrowRight)="next()"
         style="font-size:
         92px; opacity: 0.2;" id="navigate_next"
         [class.disabled]="!valid$ | async" [@validInvalid]="valid? 'valid' : 'invalid'">navigate_next</i>
    </div>
  </div>

</div>

<ng-template #status>
<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Progress</h5>
      <button type="button" class="close" (click)="dismissStatus()">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="modal-body">
      <app-status></app-status>
    </div>
</div>
</ng-template>

<a id="downloadStudy" [attr.href]="downloadStudy" download="{{study.name}}.json" hidden>Download result</a>
