<div style="padding-top: 10px">
  <h4>New Study</h4>
</div>
<div class="jumbotron">
  <form>
    <div class="container">
      <div class="d-flex justify-content-start">
        <router-outlet></router-outlet>
      </div>
      <hr>
      <div class="d-flex justify-content-end">
        <div class="mr-auto p-2" hidden>
          <button type="submit" class="btn btn-primary">Back</button>
        </div>
        <div class="p-2">
          <button disabled type="submit" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </form>
</div>
<h6>Study design progress</h6>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%; height: 20px;" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100"></div>
</div>
