<br>
<div style="vertical-align: middle"
     (swipeRight)="onSwipeRight($event)"
     (swipeLeft)="onSwipeLeft($event)">
  <div class="row">
    <div class="col-5">
      <h6>
        {{getStudyName()}}: {{getCurrentStageName()}}
      </h6>
    </div>
    <div class="col-4"></div>
    <div *ngIf="getStage() < 9" class="col-1 col-md-auto" matTooltip="status" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon svgIcon="aperture_0" (click)="showStatus()"></mat-icon>
    </div>
    <div *ngIf="getStage() > 8 && getStage() < 13" class="col-1 col-md-auto"  matTooltip="progress" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon svgIcon="aperture_1" (click)="showStatus()"></mat-icon>
    </div>
    <div *ngIf="getStage() > 12 && getStage() < 16" class="col-1 col-md-auto"  matTooltip="status" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon svgIcon="aperture_2" (click)="showStatus()"></mat-icon>
    </div>
    <div *ngIf="getStage() > 15 && getStage() < 27" class="col-1 col-md-auto"  matTooltip="status" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon svgIcon="aperture_3" (click)="showStatus()"></mat-icon>
    </div>
    <div *ngIf="getStage() === 27" class="col-1 col-md-auto"  matTooltip="status"  [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon svgIcon="aperture_4" (click)="showStatus()"></mat-icon>
    </div>
    <div *ngIf="getStage() === 28" class="col-1 col-md-auto"  matTooltip="status" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon svgIcon="aperture_5" (click)="showStatus()"></mat-icon>
    </div>
    <div class="col-1 col-md-auto"  matTooltip="help" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon (click)="toggleHelpText()">info_outline</mat-icon>
    </div>
    <div class="col-1 col md col-md-auto"  matTooltip="save design" [matTooltipShowDelay]="showDelay" [matTooltipPosition]="below">
      <mat-icon id="downloadbtn" (click)="download()">save_alt</mat-icon>
    </div>
  </div>
  <hr style="margin-top: 2px;">
  <div class="row">
    <div class="col-2 justify-content-start"
         (mouseenter)="mouseEnterBack('div a')"
         (mouseleave)="mouseLeaveBack('div A')"
         style="padding-left: 0px;">
      <i class="material-icons"
         *ngIf="!isInternal && hasBack"
         (click)="back()"
         (keyup.ArrowLeft)="back()"
         style="  font-size: 92px;
                  opacity: 0.2;
                  padding-top: 50%"
         id="navigate_before">navigate_before</i>
    </div>
    <div class="col-8">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="col-2 justify-content-end"
         (mouseenter)="mouseEnterNext('div a')"
         (mouseleave)="mouseLeaveNext('div A')"
         style="padding-left: 0px;">
      <i class="material-icons"
         *ngIf="!isInternal && hasNext"
         (click)="next()"
         (keyup.ArrowRight)="next()"
         style="font-size:
         92px; opacity: 0.2; padding-top: 50%;" id="navigate_next"
         [class.disabled]="!valid" [@validInvalid]="nextValid? 'valid': 'invalid'">navigate_next</i>
    </div>
  </div>

</div>
<hr>

<ng-template #status>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Status</h5>
        <button type="button" class="close" (click)="dismissStatus()">
          <i class="material-icons">close</i>
        </button>
    </div>
    <div class="modal-body">
      <app-status></app-status>
    </div>
  </div>
</ng-template>

<a id="downloadStudy" [attr.href]="downloadStudy" download="{{study.name}}.json" hidden>Download result</a>
