.verticaltext {
  position: relative;
  padding-left:5px;
  margin:1em 0;
}

.verticaltext_content {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
