<div *ngIf="isIntercept" id="intercept">
  We have added an intercept.
</div>

<div *ngIf="!isIntercept" id="tableControls">
  <form [formGroup]="relativeGroupSizeForm" id="relativeGroupSizeForm">
    <div class="container-fluid">
      <h5>Tell us about the relative sizes of your groups as listed below:</h5>
      <br>
      <h6>{{displayName}}</h6>

      <div class="col col-md-auto">
        <table>
          <thead>
          <tr>
            <th></th>
            <th *ngFor="let col of table.table[0]">{{table.getColLabel(col)}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of table.table;">
            <td>{{table.getRowLabel(row[0])}}</td>
            <td *ngFor="let col of row;">
              <input type="number" formControlName="{{table.table.indexOf(row)}}-{{row.indexOf(col)}}" id="{{table.table.indexOf(row)}}-{{row.indexOf(col)}}">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="formErrors.relativegroupsizes" class="form-group has-danger">
      <div class="form-control-feedback">{{formErrors.relativegroupsizes}}</div>
    </div>
  </form>
</div>
