<div *ngIf="isIntercept"
     id="intercept">
  <div>We have added an intercept.</div>
</div>

<div *ngIf="!isIntercept"
     id="tableControls">
  <form [formGroup]="relativeGroupSizeForm" id="relativeGroupSizeForm">
    <div>
      <p>
        For equal group sizes, input a "1" in the block next to each group. This is the default study design. <br /><br />

        For unequal group sizes, specify the ratio of the group sizes. For example, consider a design with an active drug group and a placebo group. If twice as many study participants receive the placebo, a value of "2" would be selected for the placebo group, and a value of "1" would be selected for the active drug group. <br /><br />
      </p>
      <p *ngIf="warningFractionalGroups()" class="text-warning">Warning: You have chosen a fractional relative group size. Please ensure that your choices make sense (including being physically realizable).</p>
    </div>
    <div class="table-responsive">
      <p *ngIf="hasDisplayName"><b>Group size ratios relative to <i>{{displayName}}</i></b></p>
      <p *ngIf="!hasDisplayName"><b>Group size ratios</b></p>
      <table>
        <tbody>
          <td>
            <div style="-webkit-transform: rotate(-180deg);
                        -moz-transform: rotate(-180deg);
                        writing-mode: vertical-lr;
                        font-weight: bold">
              {{table.getCellRowLabel(table.table[0][0])}}
            </div>
          </td>
          <td>
            <table class="table" >
              <thead  *ngIf="table.hasCols">
                <tr>
                  <td *ngFor="let col of table.table[0]; let j = index;"
                  style="border-right: transparent; border-top: 0px solid transparent;">
                    <div *ngIf="j === 1">
                      <b>{{table.getCellColLabel(table.table[0][0])}}</b>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="border-top: 0px solid transparent;"></td>
                  <td *ngFor="let col of table.table[0]; let l = index" style="text-align:center; border-top: 0px solid transparent;" [style.border-left]="getColStyle(l)">
                    <b>{{table.getCellColValueLabel(col)}}</b>
                  </td>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of table.table; let i = index;">
                <td [style.border-top]="getRowStyle(i, table.hasCols)" style="vertical-align: middle;">
                  <b>{{table.getCellRowValueLabel(row[0])}}</b>
                </td>
                <td *ngFor="let col of row; let k = index" [style.border-top]="getRowStyle(i, table.hasCols)" [style.border-left]="getColStyle(k)">
                  <div>
                    <input type="number" style="box-shadow: none; text-align:center;"
                           formControlName="{{table.table.indexOf(row)}}-{{row.indexOf(col)}}"
                           placeholder=" "
                           id="{{table.table.indexOf(row)}}-{{row.indexOf(col)}}"
                           required>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tbody>
      </table>
    </div>
    <div *ngIf="formErrors.relativegroupsizes" class="form-group has-danger">
      <div class="form-control-feedback">{{formErrors.relativegroupsizes}}</div>
    </div>
  </form>
</div>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Relative Group Size Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
