<form [formGroup]="repeatedMeasureForm">
  <div style="margin-left: 1em;">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="center-block">Name:
              <input class="form-control" formControlName="name" required>
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="center-block">No. Repeats:
              <input type="number" class="form-control" formControlName="noRepeats" required>
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="center-block">Spacing:
              <input type="number" class="form-control" formControlName="spacing" required>
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="repeatedMeasureForm.status==='VALID'">
        <app-correlation-matrix [size]="repeatedMeasure.noRepeats"></app-correlation-matrix>
      </div>
    </div>
  </div>
  <br>
  <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</form>
RM: {{repeatedMeasure.correlationMatrix}}
<br>
Form: {{repeatedMeasure.name}} {{repeatedMeasure.noRepeats}} {{repeatedMeasure.spacing}}
