<form [formGroup]="repeatedMeasureForm">
  <div style="margin-left: 1em;">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="center-block">Name:
              <input class="form-control" formControlName="name" required>
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="center-block">No. Repeats:
              <input type="number" class="form-control" formControlName="noRepeats" required>
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="center-block">Spacing:
              <input type="number" class="form-control" formControlName="spacing" required>
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="repeatedMeasureForm.status==='VALID'">
        <app-correlation-matrix></app-correlation-matrix>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="repeatedMeasureForm.status!=='VALID'" (click)="addRepeatedMeasure()">Add Repeated Measure</button>
</form>
