<div class="row">
  <p>
    Enter the number of independent sampling units in the smallest group in the study.
    You may enter multiple values for the smallest group size in order to consider a range of total sample sizes.
  </p>
  <p>
    If you wish to consider fractional group sizes, specify an appropriate integer here and use fractional
    relative group size values.
  </p>
</div>
<form [formGroup]="groupSizeForm" class="form-horizontal" id="groupSizeForm">
    <div class="row" *ngIf="firstGroupSize()">
      <label for="smallestgroupsize">Please enter the size of your smallest group:</label>
    </div>
    <div class="row" *ngIf="!firstGroupSize()">
      <label for="smallestgroupsize">Would you like to add another smallest group size?</label>
    </div>
  <div class="row">
    <div class="col col-md-auto" style="padding-left: 0px">
      <input type="number"
             min="0"
             step="1"
             class="form-control"
             id="smallestgroupsize"
             formControlName="smallestGroupSize"
             (keyup.enter)="addGroupSize()">
    </div>
    <div class="col">
      <i class="material-icons" (click)="addGroupSize()" style="font-size: 2em; padding-top: 0.2em" id="addgroupsize">add_box</i>
    </div>
  </div>
  <div class="row">
    <div *ngIf="formErrors.smallestGroupSize" class="form-group has-danger">
      <div class="form-control-feedback">{{formErrors.smallestGroupSize}}</div>
    </div>
  </div>
  <div class="row table-responsive">
    <table class="table">
      <thead>
      <th style="padding-left: 0px">Smallest Group Size</th>
      <th>remove</th>
      </thead>
      <tbody>
      <tr *ngFor="let groupSize of groupSize$ | async; let i = index;"
          id="groupSizelist"
          [class]="rowStyle(i)">
        <td>{{groupSize}}</td>
        <td><i class="material-icons"
               (click)="removeGroupSize(groupSize)"
               style="margin-bottom: 5px" id="removegroupsize">delete_forever</i></td>
      </tr>
      </tbody>
    </table>
  </div>

</form>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Smallest Group Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
