<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td class="form-group">
          <label for="name" >Outcome</label>
          <input id="name" class="form-control" [(ngModel)]="outcome.name" name="outcomename">
      </td>
      <td class="form-group">
          <label for="outcome_type" >Outcome Type</label>
          <select id="outcome_type"  class="form-control" id="exampleSelect2" [(ngModel)]="outcome.type" name="outcometype">
            <option>Between</option>
            <option>Within</option>
          </select>
      </td>
    </tr>
  </table>
  <button id="subbtn" type="submit" class="btn btn-primary">Add</button>
</form>

