<div>
  <p>
    Changes in variability can dramatically affect power and sample size results. It is not possible to know the variability until the experiment is observed. Scale factors allow you to consider alternative values for variability by scaling the calculated covariance matrix. For example, entering the scale factors 0.5, 1, and 2 would compute power for the covariance matrix divided by 2, the covariance matrix as entered, and the covariance matrix multiplied by 2. <br /><br />
    You may add up to {{max}} scale factors.
  </p>
</div>
<form [formGroup] ="scaleFactorsForm">
    <div class="row" *ngIf="firstScaleFactor() || nextScaleFactor()">
      <div class="col">
        <div class="form-group">
          <input class="form-control" placeholder="Choose a number greater than zero" formControlName="scaleFactors" (keyup.enter)="addScaleFactor()" id="scaleFactors" type="number" step="0.1">
          <div *ngIf="formErrors.scaleFactors" class="form-group has-danger">
            <div class="form-control-feedback" id="scaleFactorserr">{{formErrors.scaleFactors}}</div>
          </div>
        </div>
      </div>
      <div class="col">
        <i class="material-icons" (click)="addScaleFactor()" style="font-size: 2em; padding-top: 0.2em" id="addscaleFactor">add_box</i>
      </div>
    </div>
  <br>
  <div class="row">
    <table class="table">
      <thead>
      <th>Scale Factor</th>
      <th>remove</th>
      </thead>
      <tbody>
      <tr *ngFor="let scaleFactor of scaleFactor$ | async; let i = index; " id="scalefactorlist" [class]="rowStyle(i)">
        <td>{{scaleFactor}}</td>
        <td>
          <i class="material-icons"
             (click)="removeScaleFactor(scaleFactor)"
             style="margin-bottom: 5px"
             id="removescalefactor">
            delete_forever
          </i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Scale Factor Variance Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
      <h6>Glimmpse Tutorials are found <a href="https://samplesizeshop.org/education/tutorials/" target="_blank">here</a></h6>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
