@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.btn{
  cursor: pointer;
  text-transform:none;
  border:none;
  -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  -webkit-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s}

.material-icons{
  cursor: pointer;
}


.material-icons:hover {
  color: #2196F3;
}

.ng-invalid:not(form)  {
  border-bottom: 2px solid #9a0200; /* red */
  color: #9a0200;
}

.navbar-inverse {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

body {
  min-width:360px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    min-width:360px;
    position: fixed;
  }

  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.matrix-input-brackets {
  background-image: linear-gradient(#69696b, #69696b),
  linear-gradient(#69696b, #69696b),
  linear-gradient(#69696b, #69696b),
  linear-gradient(#69696b, #69696b);

  background-repeat: no-repeat;
  background-size: 8px 1px;
  background-position: top left, top right, bottom left, bottom right;

  border: solid #69696b;
  text-align: justify;
  border-width: 0 1px;
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  margin: 2px;
  overflow: scroll;
  width: border-box;}

input[type=number]{
  text-align: right;
}

.matrix-input-control {
  border-bottom: none!important;
  box-shadow: none!important;
  text-align: center;
  width: 50px;
}
