@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.btn{
  font-size: 1rem;
  cursor: pointer;
  text-transform:none;
  border:none;
  -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  box-shadow:1px 1px 4px rgba(0,0,0,0.4);
  -webkit-transition:all 0.4s;
  -o-transition:all 0.4s;
  transition:all 0.4s}



.btn-secondary.active {
  background-color: #265b87 !important;
  border-color: #00325a !important;
}

.btn-secondary:hover {
  background-color: #5a88b7 !important;
}
.btn-primary {
  background-color: #265b87 !important;
  border-color: #00325a !important;
}

.btn-primary:hover {
  background-color: #5a88b7 !important;
}

.material-icons{
  cursor: pointer;
}

.material-icons:hover {
  color: #5a88b7;
}

.ng-invalid:not(form)  {
  border-bottom: 2px solid #9a0200; /* red */
  color: #9a0200;
}

.navbar-inverse {
  -webkit-box-shadow: 2px 8px 6px -12px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 8px 6px -12px rgba(0,0,0,0.3);
  box-shadow: 2px 8px 6px -6px rgba(0,0,0,0.3);
  z-index: 100;
}

.bg-primary {
  background-color: #265b87 !important;
}

body {
  background: rgba(90, 136, 183, 0.09);
  min-width:360px;
  font-size: 1em;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  body{
    min-width:360px;
  }

  .row{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.matrix-input-brackets {
  background-image: linear-gradient(#69696b, #69696b),
  linear-gradient(#69696b, #69696b),
  linear-gradient(#69696b, #69696b),
  linear-gradient(#69696b, #69696b);

  background-repeat: no-repeat;
  background-size: 8px 1px;
  background-position: top left, top right, bottom left, bottom right;
  overflow: hidden;

  border: solid #69696b;
  text-align: justify;
  border-width: 0 1px;
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  margin: 2px;
  width: border-box;}

.matrix-headers {
  background-image: linear-gradient(transparent, transparent),
  linear-gradient(transparent, transparent),
  linear-gradient(transparent, transparent),
  linear-gradient(transparent, transparent);

  background-repeat: no-repeat;
  background-size: 8px 1px;
  background-position: top left, top right, bottom left, bottom right;
  background: transparent;
  overflow: hidden;

  border: solid rgba(0,0,0,0);
  text-align: justify;
  border-width: 0 1px;
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  margin: 2px;
  width: border-box;}

input[type=number]{
  text-align: right;
}
input[type=radio]:checked:before{
  border-color: #265b87;
}
input[type=radio]:after{
  border-color: #265b87;
}
input[type=radio]:checked:after{
  border-color: #265b87;
}
input[type=radio]:before{
  background-color: #265b87;
}

.matrix-input-control {
  border-bottom: none!important;
  box-shadow: none!important;
  text-align: center!important;
  width: 70px;
}

.table-input-control {
  border-bottom: none!important;
  box-shadow: none!important;
  text-align: center!important;
}

hr {
  border-top: 1px solid rgba(0,0,0,0.2);
}

div { outline-style:none;}



.nav-tabs a:active{
  color: #265b87;
}

/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
//@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
//@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
