
    <div class="row">
      <p>
        Please indicate whether you would like to solve for power or total sample size.<br />

        If you have a rough idea of the number of research participants you will be able to recruit, then solve for power.<br />

        If you have few restrictions on recruitment then you may wish to solve for sample size.<br />
      </p>
    </div>

    <div class="row">
        <div class="btn-group" data-toggle="buttons">
          <label aria-pressed="true" class="btn btn-secondary" [class.active]="isPower()" id="powerbtn">
            <input type="radio" id="powerradio" (click)="selectPower()"> Power
          </label>
          <label class="btn btn-secondary" aria-pressed="true" [class.active]="isSampleSize()" id="samplesizebtn">
            <input type="radio" id="samplesizeradio" (click)="selectSampleSize()"> Sample Size
          </label>
        </div>
    </div>



<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Solve For Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
