<form [formGroup]="gaussianCovariateVarForm">
  <div class="row">
    <p>What is the standard deviation of your gaussian covariate? <input type="number"
                                                                         class="table-input-control"
                                                                         placeholder=" "
                                                                         formControlName="variance"
                                                                         id="variance"
                                                                         step="0.1"
                                                                         required></p>
  </div>
  <div *ngIf="formErrors.covariatevariance" class="form-group has-danger">
    <div class="form-control-feedback">{{formErrors.covariatevariance}}</div>
  </div>
</form>
