<div [@fade]="stage" (@fade.start)="startTransition($event)" (@fade.done)="doneTransition($event)" >
  <div *ngIf="isInfo()">
    <div class="row">
      <p>What type of contrast do you wish among the levels of the between predictors?</p>
    </div>
    <div class="row"
         ngClass="{{getButtonClass()}}"
         data-toggle="buttons">
      <label aria-pressed="true"
             class="btn btn-secondary"
             id="globaltrendslbl"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.GLOBAL_TRENDS">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.GLOBAL_TRENDS)"> {{HYPOTHESIS_NATURE.GLOBAL_TRENDS}}
      </label><label aria-pressed="true"
             class="btn btn-secondary"
             *ngIf="isContinuous()"
             id="polylbl"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.POLYNOMIAL">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.POLYNOMIAL)"> {{HYPOTHESIS_NATURE.POLYNOMIAL}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             id="identitylbl"
             *ngIf="showAdvancedOptions"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.IDENTITY">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.IDENTITY)"> {{HYPOTHESIS_NATURE.IDENTITY}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             id="partialslbl"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS"
             *ngIf="showAdvancedOptions">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS)"> Custom (per factor)
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.CUSTOM_C_MATRIX"
             id="customlbl"
             *ngIf="showAdvancedOptions">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.CUSTOM_C_MATRIX)"> Custom (full)
      </label>
    </div>

    <div *ngIf="!isMixed && selectedHypothesis === HYPOTHESIS_NATURE.GLOBAL_TRENDS" class="row" id="betweenonlyalldesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
        The parameters of interest are the group means.
      </p>
      <p>
        The null hypothesis is that all pairwise differences between group means are the same.
      </p>
    </div>
    <div *ngIf="!isMixed &&selectedHypothesis === HYPOTHESIS_NATURE.POLYNOMIAL" class="row" id="betweenonlytrendsdesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
      The parameters of interest are polynomial coefficients defining trends.
      </p>
      <p>
      The null hypothesis is that all polynomial coefficients across your group labels are zero.
        Polynomial trends up to one less than the number of groups are included (linear, quadratic, etc.).
      </p>
    </div>
    <div *ngIf="!isMixed && selectedHypothesis === HYPOTHESIS_NATURE.IDENTITY" class="row" id="betweenonlyidentitydesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
      The parameters of interest are group means.
      </p>
      <p>
      The null hypothesis is that all group means are zero.
      </p>
      <p>
      Warning: this hypothesis evaluates whether all mean differences are equal to zero AND whether the grand mean
        is equal to zero. This should not be confused with the “all mean differences equal to zero” option.
      </p>
    </div>

    <div  *ngIf="isMixed && selectedHypothesis === HYPOTHESIS_NATURE.GLOBAL_TRENDS" class="row" id="mixedalldesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
      The parameters of interest are the averages across repeated measures for each group.
      </p>
      <p>
      The null hypothesis is that the averages across repeated measures do not differ between groups.
      </p>
    </div>
    <div *ngIf="isMixed &&selectedHypothesis === HYPOTHESIS_NATURE.POLYNOMIAL" class="row" id="mixedtrendsdesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
      The parameters of interest are polynomial coefficients defining trends across groups.
      </p>
      <p>
      The null hypothesis is that the polynomial coefficients averaged across repeated measures are all zero.
      </p>
    </div>
    <div *ngIf="isMixed && selectedHypothesis === HYPOTHESIS_NATURE.IDENTITY" class="row" id="mixedidentitydesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
      The parameters of interest are group means.
      </p>
      <p>
      The null hypothesis is that the average across repeated measures is zero for every group.
      </p>
      <p>
      Warning: this hypothesis evaluates whether all mean differences are equal to zero AND whether the
        grand mean is equal to zero. This should not be confused with the “all mean differences equal to zero” option.
      </p>
    </div>

    <div *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS">
      <div class="row">
        <p>
          A parameter is a characteristic of a population.
        </p>
        <p>
        The parameters of interest are determined entirely by the user’s choice of coefficients.
        </p>
        <p>
        The null hypothesis is determined entirely by the user’s choice of coefficients.
        </p>
        <p>
        The software will only verify that the hypothesis is uniquely well-defined,
          i.e. “testable” as per Muller & Stewart, 2006, chapter 16.
        </p>
      </div>
      <div class="row">
        <p>Click on any of the marginal between contrast (C) matrices below to customise them:</p>
      </div>
      <div *ngFor="let predictor of predictorsIn" class="row">
        <div class="col  col-md-auto">
          <h6>{{predictor.name}}:</h6>
        </div>
        <div class="col  col-md-auto">
          <div ngbDropdown class="h-25 d-inline-block">
            <button class="h-25 btn btn-secondary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{predictor.isuFactorNature}}</button>
            <div ngbDropdownMenu aria-labelledby="h-25 dropdownBasic1">
              <button class="h-25 dropdown-item" (click)="setNature(predictor.name, HYPOTHESIS_NATURE.GLOBAL_TRENDS)">  {{HYPOTHESIS_NATURE.GLOBAL_TRENDS}}</button>
              <button class="h-25 dropdown-item" (click)="setNature(predictor.name, HYPOTHESIS_NATURE.IDENTITY)">  {{HYPOTHESIS_NATURE.IDENTITY}}</button>
              <button class="h-25 dropdown-item" (click)="setNature(predictor.name, HYPOTHESIS_NATURE.POLYNOMIAL)" *ngIf="isPredictorContinuous(predictor)">  {{HYPOTHESIS_NATURE.POLYNOMIAL}}</button>
              <button class="h-25 dropdown-item" (click)="setCustomPartialCMatrix(predictor)">Custom</button>
            </div>
          </div>
        </div>
        <div class="col  col-md-auto"
             *ngIf="predictor.isuFactorNature === HYPOTHESIS_NATURE.POLYNOMIAL">
          <div ngbDropdown class="h-25 d-inline-block">
            <button class="h-25 btn btn-secondary dropdown-toggle" id="dropdownLevels" ngbDropdownToggle>{{predictor.getPolynomialOrderName(predictor.polynomialOrder)}}</button>
            <div ngbDropdownMenu aria-labelledby="h-25 dropdownBasic1">
              <button *ngFor="let order of predictor.possibleOrders"
                      class="h-25 dropdown-item" (click)="setPolynomialOrder(predictor.name, order)">
              {{predictor.getPolynomialOrderName(order)}}</button>
            </div>
          </div>
        </div>
        <div class="col  col-md-auto"
             *ngIf="predictor.isuFactorNature === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS && predictor.hasPartialMatrix()"
             [mathJaxExpr]="predictor.partialMatrix.toTeX()">
        </div>
      </div>
    </div>
    <div *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.CUSTOM_C_MATRIX" class="row" id="customdesc">
      <p>
        A parameter is a characteristic of a population.
      </p>
      <p>
        The parameters of interest are determined entirely by the user’s choice of coefficients.
      </p>
      <p>
        The null hypothesis is determined entirely by the user’s choice of coefficients.
      </p>
      <p>
        The software will only verify that the hypothesis is uniquely well-defined,
        i.e. “testable” as per Muller & Stewart, 2006, chapter 16.
      </p>
    </div>
    <div *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.CUSTOM_C_MATRIX" class="row">
      <div class="col-md-auto">
        <p>Your custom between contrast (C) Matrix:</p>
      </div>
      <div class="col-md-auto">
        <div [mathJaxExpr]="cMatrixTex"></div>
      </div>
    </div>


    <div class="row">
      <button class="btn btn-secondary btn-sm"
              style="margin-bottom: 0px;"
              id="pb"
              [class.active]="false"
              *ngIf="predictorsInHypothesis() && !showAdvancedOptions"
              (click)="toggleAdvancedOptions()">
        Show Advanced Options
      </button>
      <button class="btn btn-secondary btn-sm"
              style="margin-bottom: 0px;" [class.active]="false"
              *ngIf="predictorsInHypothesis() && showAdvancedOptions"
              (click)="toggleAdvancedOptions()"
              [disabled]="selectedHypothesis === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS || selectedHypothesis === HYPOTHESIS_NATURE.CUSTOM_C_MATRIX">
        Hide Advanced Options
      </button>
    </div>
  </div>

  <div *ngIf="isRows()">
    <div class="row">
      <h6>How many rows would you like in your custom between contrast (C) matrix?</h6></div>
    <div class="row">
      <div class="col col-md-auto">
        <form [formGroup]="noRowsForm" novalidate>
        <div class="form-group">
          <label for="norows">No. rows:</label>
          <input type="number" class="form-control" id="norows" placeholder="Choose a number between 0 -> {{maxRows}}" formControlName="norows" required min="1" max="{{maxRows}}">
          <div *ngIf="formErrors.norows" class="form-group has-danger">
            <div class="form-control-feedback">{{formErrors.norows}}</div>
          </div>
          <small id="norowshelp" class="form-text text-muted">you must have between 1 and {{maxRows}} rows</small>
        </div>
        </form>
      </div>
    </div>
    <button class="btn btn-secondary btn-sm" (click)="showInfo(true)">Back</button>
    <button class="btn btn-secondary btn-sm" (click)="editCustom()" [disabled]="!this.noRowsForm.valid" id="nextbtn">Next: Matrix</button>
  </div>

  <div *ngIf="isEditCustom()">
    <app-custom-matrix [between]="true"></app-custom-matrix>
    <button class="btn btn-secondary btn-sm" (click)="rows()">Back</button>
    <button class="btn btn-secondary btn-sm" (click)="showInfo()" id="donebtn">Done</button>
  </div>
</div>

<ng-template #canDeactivate>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">
      <i class="material-icons">close</i>
      </button>
    </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
<ng-template #helpText>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Between Hypothesis Help</h5> <button type="button" class="close" (click)="dismissHelp()">
      <i class="material-icons">close</i>
    </button>
    </div>
    <div class="modal-body">
      <app-control-help-text></app-control-help-text>
    </div>
    <div class="modal-footer"> </div>
  </div>
</ng-template>
