<div [@fade]="stage" (@fade.start)="startTransition($event)" (@fade.done)="doneTransition($event)" >
  <div *ngIf="isInfo()">
    <div class="row">
      <p>What type of contrast do you wish among the levels of the between predictors?</p>
    </div>
    <div class="row"
         ngClass="{{getButtonClass()}}"
         data-toggle="buttons">
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.GLOBAL_TRENDS">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.GLOBAL_TRENDS)"> {{HYPOTHESIS_NATURE.GLOBAL_TRENDS}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.IDENTITY">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.IDENTITY)"> {{HYPOTHESIS_NATURE.IDENTITY}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.POLYNOMIAL">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.POLYNOMIAL)"> {{HYPOTHESIS_NATURE.POLYNOMIAL}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS"
             *ngIf="showAdvancedOptions">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS)"> {{HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS}}
      </label>
      <label aria-pressed="true"
             class="btn btn-secondary"
             [class.active]="selectedHypothesis === HYPOTHESIS_NATURE.CUSTOM_C_MATRIX"
             *ngIf="showAdvancedOptions">
        <input type="radio" (click)="selectHypothesisNature(HYPOTHESIS_NATURE.CUSTOM_C_MATRIX)"> {{HYPOTHESIS_NATURE.CUSTOM_C_MATRIX}}
      </label>
    </div>

    <div *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS"
         class="row">
      <h6>Click on any of the marginal C matrices below to customise them:</h6>
        <div *ngFor="let predictor of predictorsIn" class="row">
          <div class="col  col-md-auto">
            <h6>{{predictor.name}}:</h6>
          </div>
          <div class="col  col-md-auto">
            <div ngbDropdown class="h-25 d-inline-block">
              <button class="h-25 btn btn-secondary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{predictor.isuFactorNature}}</button>
              <div ngbDropdownMenu aria-labelledby="h-25 dropdownBasic1">
                <button class="h-25 dropdown-item" (click)="setNature(predictor.name, HYPOTHESIS_NATURE.GLOBAL_TRENDS)">  {{HYPOTHESIS_NATURE.GLOBAL_TRENDS}}</button>
                <button class="h-25 dropdown-item" (click)="setNature(predictor.name, HYPOTHESIS_NATURE.IDENTITY)">  {{HYPOTHESIS_NATURE.IDENTITY}}</button>
                <button class="h-25 dropdown-item" (click)="setNature(predictor.name, HYPOTHESIS_NATURE.POLYNOMIAL)">  {{HYPOTHESIS_NATURE.POLYNOMIAL}}</button>
                <button class="h-25 dropdown-item" (click)="setCustomPartialCMatrix(predictor)">{{HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS}}</button>
              </div>
            </div>
          </div>
          <div class="col  col-md-auto"
               *ngIf="predictor.isuFactorNature === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS && predictor.hasPartialMatrix()"
               [mathJaxExpr]="predictor.partialMatrix.toTeX()">
          </div>
        </div>
    </div>
    <div *ngIf="selectedHypothesis === HYPOTHESIS_NATURE.CUSTOM_C_MATRIX"
         class="row">
      <br>
      <div class="row justify-content-center">
        <div class="col-md-auto"><h6>Your custom C Matrix:</h6></div>
        <div class="col-md-auto">
          <div [mathJaxExpr]="cMatrixTex"></div>
        </div>
      </div>
    </div>


    <div class="row">
      <button class="btn btn-secondary btn-sm"
              style="margin-bottom: 0px;" id="pb" [class.active]="false"
              *ngIf="predictorsInHypothesis() && !showAdvancedOptions"
              (click)="toggleAdvancedOptions()">
        Show Advanced Options
      </button>
      <button class="btn btn-secondary btn-sm"
              style="margin-bottom: 0px;" [class.active]="false"
              *ngIf="predictorsInHypothesis() && showAdvancedOptions"
              (click)="toggleAdvancedOptions()"
              [disabled]="selectedHypothesis === HYPOTHESIS_NATURE.USER_DEFINED_PARTIALS || selectedHypothesis === HYPOTHESIS_NATURE.CUSTOM_C_MATRIX">
        Hide Advanced Options
      </button>
    </div>
  </div>

  <div *ngIf="isRows()">
    <div class="row">
      <h6>How many rows would you like in your custom C matrix?</h6></div>
    <div class="row">
      <div class="col col-md-auto">
        <form [formGroup]="noRowsForm" novalidate>
        <div class="form-group">
          <label for="norows">No. rows:</label>
          <input type="number" class="form-control" id="norows" placeholder="Choose a number between 0 -> {{maxRows}}" formControlName="norows" required min="1" max="{{maxRows}}">
          <div *ngIf="formErrors.norows" class="form-group has-danger">
            <div class="form-control-feedback">{{formErrors.norows}}</div>
          </div>
          <small id="norowshelp" class="form-text text-muted">you must have 1 > x > {{maxRows}} rows</small>
        </div>
        </form>
      </div>
    </div>
    <button class="btn btn-secondary btn-sm" (click)="showInfo()">Back</button>
    <button class="btn btn-secondary btn-sm" (click)="editCustom()" [disabled]="!this.noRowsForm.valid">Next: Matrix</button>
  </div>

  <div *ngIf="isEditCustom()">
    <app-custom-matrix></app-custom-matrix>
    <button class="btn btn-secondary btn-sm" (click)="rows()">Back</button>
    <button class="btn btn-secondary btn-sm" (click)="showInfo()">Done</button>
  </div>
</div>

<ng-template #canDeactivate>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Are you sure?</h5> <button type="button" class="close" (click)="modalChoice(false)">
      <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>You are trying to navigate away from this page. Do you wish to discard changes and continue?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalChoice(false)">Continue editing</button>
      <button type="button" class="btn btn-primary" (click)="modalChoice(true)">Discard changes</button> </div>
  </div>
</ng-template>
